In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime

In [2]:
#Importing warnings library to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Connecting google colab with google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### News Data

In [4]:
#Importing news data
daily_news = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/daily_news_sentiment.csv')
daily_news

                DateTime  Daily News Sentiment
0    2000-08-01 00:00:00                  0.20
1    2001-01-24 00:00:00                  0.20
2    2001-04-04 00:00:00                 -0.10
3    2002-10-31 00:00:00                 -0.50
4    2004-03-21 00:00:00                  0.10
..                   ...                   ...
390  2021-02-24 00:00:00                 -0.10
391  2021-02-25 00:00:00                  0.00
392  2021-02-26 00:00:00                 -0.30
393  2021-02-27 00:00:00                 -0.10
394  2021-03-02 00:00:00                 -0.22

[395 rows x 2 columns]

In [5]:
#Converting data in text for to pandas datetime format
daily_news['DateTime'] = pd.to_datetime(daily_news['DateTime'])
daily_news.dtypes

DateTime                datetime64[ns]
Daily News Sentiment           float64
dtype: object

In [6]:
#Creating a new blank dataframe
new_daily_news = pd.DataFrame(columns = ['Date', 'Daily News Sentiment', 'News Present'])
new_daily_news

Empty DataFrame
Columns: [Date, Daily News Sentiment, News Present]
Index: []

In [7]:
#Entering the dates range from minimum to maximum range
new_daily_news_dates = pd.date_range(start=min(daily_news['DateTime']), end=max(daily_news['DateTime']))
new_daily_news['Date'] = new_daily_news_dates
new_daily_news

           Date Daily News Sentiment News Present
0    2000-08-01                  NaN          NaN
1    2000-08-02                  NaN          NaN
2    2000-08-03                  NaN          NaN
3    2000-08-04                  NaN          NaN
4    2000-08-05                  NaN          NaN
...         ...                  ...          ...
7514 2021-02-26                  NaN          NaN
7515 2021-02-27                  NaN          NaN
7516 2021-02-28                  NaN          NaN
7517 2021-03-01                  NaN          NaN
7518 2021-03-02                  NaN          NaN

[7519 rows x 3 columns]

In [8]:
#Initialising the dummy variables
new_daily_news['News Present'] = 0
new_daily_news

           Date Daily News Sentiment  News Present
0    2000-08-01                  NaN             0
1    2000-08-02                  NaN             0
2    2000-08-03                  NaN             0
3    2000-08-04                  NaN             0
4    2000-08-05                  NaN             0
...         ...                  ...           ...
7514 2021-02-26                  NaN             0
7515 2021-02-27                  NaN             0
7516 2021-02-28                  NaN             0
7517 2021-03-01                  NaN             0
7518 2021-03-02                  NaN             0

[7519 rows x 3 columns]

In [9]:
#Entering the data in new dataframe with continuous dates
for i in list(daily_news['DateTime']):
  ind = new_daily_news[new_daily_news['Date'] == i].index[0]
  new_daily_news['Daily News Sentiment'][ind] = daily_news[daily_news['DateTime'] == i]['Daily News Sentiment'].values[0]
  new_daily_news['News Present'][ind] = 1
new_daily_news

           Date Daily News Sentiment  News Present
0    2000-08-01                  0.2             1
1    2000-08-02                  NaN             0
2    2000-08-03                  NaN             0
3    2000-08-04                  NaN             0
4    2000-08-05                  NaN             0
...         ...                  ...           ...
7514 2021-02-26                 -0.3             1
7515 2021-02-27                 -0.1             1
7516 2021-02-28                  NaN             0
7517 2021-03-01                  NaN             0
7518 2021-03-02                -0.22             1

[7519 rows x 3 columns]

In [10]:
#Converting the dataframe to csv for downloading it
new_daily_news.to_csv('new_daily_news.csv')

### Mobility Data

In [11]:
#Importing the dataset
apple_mobility = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/apple_mobility.csv')
apple_mobility

        Value        Date  ...        Country Transportation Type
0       81.14  2021-01-24  ...        GERMANY             WALKING
1      127.55  2020-08-07  ...        GERMANY             WALKING
2       88.19  2021-01-25  ...        GERMANY             WALKING
3      135.66  2020-08-06  ...        GERMANY             WALKING
4       83.67  2021-01-22  ...        GERMANY             WALKING
...       ...         ...  ...            ...                 ...
41937  137.37  2020-08-30  ...  UNITED STATES             WALKING
41938  181.42  2020-09-04  ...  UNITED STATES             WALKING
41939  154.77  2020-09-03  ...  UNITED STATES             WALKING
41940  145.18  2020-09-02  ...  UNITED STATES             WALKING
41941  154.24  2020-09-01  ...  UNITED STATES             WALKING

[41942 rows x 12 columns]

In [12]:
#Converting data in text for to pandas datetime format
apple_mobility['Date'] = pd.to_datetime(apple_mobility['Date'])
apple_mobility.dtypes

Value                         float64
Date                   datetime64[ns]
Super Region                   object
Sub Region                     object
Unit                           object
Geography Type                 object
Source                         object
Sub-Sector                     object
Frequency                      object
Region                         object
Country                        object
Transportation Type            object
dtype: object

In [13]:
#Updating column names for easier referencing
apple_mobility.rename(columns={"Sub Region":"Sub Region 1", "Region":"Sub Region 2"}, inplace=True)
apple_mobility

        Value       Date  ...        Country Transportation Type
0       81.14 2021-01-24  ...        GERMANY             WALKING
1      127.55 2020-08-07  ...        GERMANY             WALKING
2       88.19 2021-01-25  ...        GERMANY             WALKING
3      135.66 2020-08-06  ...        GERMANY             WALKING
4       83.67 2021-01-22  ...        GERMANY             WALKING
...       ...        ...  ...            ...                 ...
41937  137.37 2020-08-30  ...  UNITED STATES             WALKING
41938  181.42 2020-09-04  ...  UNITED STATES             WALKING
41939  154.77 2020-09-03  ...  UNITED STATES             WALKING
41940  145.18 2020-09-02  ...  UNITED STATES             WALKING
41941  154.24 2020-09-01  ...  UNITED STATES             WALKING

[41942 rows x 12 columns]

In [14]:
#checking for null values
apple_mobility.isnull().sum()

Value                     0
Date                      0
Super Region              0
Sub Region 1           5882
Unit                      0
Geography Type            0
Source                    0
Sub-Sector                0
Frequency                 0
Sub Region 2              0
Country                   0
Transportation Type       0
dtype: int64

In [15]:
#Replacing null values in sub region 1 by the data in sub region 2 as region 2 is a subregion of country.
#Sub region 2 are of equivalent division as in sub region 1 for complete data but they cannot be divided further so are written in that column
#Hence, sub region 1 is the first level division of country and if no sub region 2 is possible then region 1 can be given as 2
apple_mobility['Sub Region 1'] = apple_mobility['Sub Region 1'].fillna(apple_mobility['Sub Region 2'])
apple_mobility

        Value       Date  ...        Country Transportation Type
0       81.14 2021-01-24  ...        GERMANY             WALKING
1      127.55 2020-08-07  ...        GERMANY             WALKING
2       88.19 2021-01-25  ...        GERMANY             WALKING
3      135.66 2020-08-06  ...        GERMANY             WALKING
4       83.67 2021-01-22  ...        GERMANY             WALKING
...       ...        ...  ...            ...                 ...
41937  137.37 2020-08-30  ...  UNITED STATES             WALKING
41938  181.42 2020-09-04  ...  UNITED STATES             WALKING
41939  154.77 2020-09-03  ...  UNITED STATES             WALKING
41940  145.18 2020-09-02  ...  UNITED STATES             WALKING
41941  154.24 2020-09-01  ...  UNITED STATES             WALKING

[41942 rows x 12 columns]

In [16]:
#Creating a blank dataframe with columns names as the categories in the actual dataset
all_sub_reg_2_apple = apple_mobility['Sub Region 2'].unique()
columns_apple = ['Date', 'Apple Mobility Present']
for i in all_sub_reg_2_apple:
  columns_apple.append(i + '_WALKING')
  columns_apple.append(i + '_TRANSIT')
  columns_apple.append(i + '_DRIVING')
new_apple = pd.DataFrame(columns=columns_apple)
new_apple

Empty DataFrame
Columns: [Date, Apple Mobility Present, AACHEN_WALKING, AACHEN_TRANSIT, AACHEN_DRIVING, HALLAND COUNTY_WALKING, HALLAND COUNTY_TRANSIT, HALLAND COUNTY_DRIVING, HOKKAIDO (PREFECTURE)_WALKING, HOKKAIDO (PREFECTURE)_TRANSIT, HOKKAIDO (PREFECTURE)_DRIVING, HYOGO PREFECTURE_WALKING, HYOGO PREFECTURE_TRANSIT, HYOGO PREFECTURE_DRIVING, ILLINOIS_WALKING, ILLINOIS_TRANSIT, ILLINOIS_DRIVING, ISHIKAWA PREFECTURE_WALKING, ISHIKAWA PREFECTURE_TRANSIT, ISHIKAWA PREFECTURE_DRIVING, ALBANY_WALKING, ALBANY_TRANSIT, ALBANY_DRIVING, ALLENTOWN_WALKING, ALLENTOWN_TRANSIT, ALLENTOWN_DRIVING, WILLIAMSBURG CITY_WALKING, WILLIAMSBURG CITY_TRANSIT, WILLIAMSBURG CITY_DRIVING, MADISON COUNTY_WALKING, MADISON COUNTY_TRANSIT, MADISON COUNTY_DRIVING, MARION COUNTY_WALKING, MARION COUNTY_TRANSIT, MARION COUNTY_DRIVING, REDWOOD COUNTY_WALKING, REDWOOD COUNTY_TRANSIT, REDWOOD COUNTY_DRIVING, RENO COUNTY_WALKING, RENO COUNTY_TRANSIT, RENO COUNTY_DRIVING, RICHLAND COUNTY_WALKING, RICHLAND COUNTY_TRANSIT, RICHLAND COUNTY_DRIVING, RICHMOND COUNTY_WALKING, RICHMOND COUNTY_TRANSIT, RICHMOND COUNTY_DRIVING, HAYWOOD COUNTY_WALKING, HAYWOOD COUNTY_TRANSIT, HAYWOOD COUNTY_DRIVING, HENDERSON COUNTY_WALKING, HENDERSON COUNTY_TRANSIT, HENDERSON COUNTY_DRIVING, HENRY COUNTY_WALKING, HENRY COUNTY_TRANSIT, HENRY COUNTY_DRIVING, HERKIMER COUNTY_WALKING, HERKIMER COUNTY_TRANSIT, HERKIMER COUNTY_DRIVING, MECKLENBURG COUNTY_WALKING, MECKLENBURG COUNTY_TRANSIT, MECKLENBURG COUNTY_DRIVING, MERCED COUNTY_WALKING, MERCED COUNTY_TRANSIT, MERCED COUNTY_DRIVING, MERCER COUNTY_WALKING, MERCER COUNTY_TRANSIT, MERCER COUNTY_DRIVING, COMAL COUNTY_WALKING, COMAL COUNTY_TRANSIT, COMAL COUNTY_DRIVING, CONTRA COSTA COUNTY_WALKING, CONTRA COSTA COUNTY_TRANSIT, CONTRA COSTA COUNTY_DRIVING, COOK COUNTY_WALKING, COOK COUNTY_TRANSIT, COOK COUNTY_DRIVING, COSHOCTON COUNTY_WALKING, COSHOCTON COUNTY_TRANSIT, COSHOCTON COUNTY_DRIVING, COWLITZ COUNTY_WALKING, COWLITZ COUNTY_TRANSIT, COWLITZ COUNTY_DRIVING, CRAVEN COUNTY_WALKING, CRAVEN COUNTY_TRANSIT, CRAVEN COUNTY_DRIVING, HINDS COUNTY_WALKING, HINDS COUNTY_TRANSIT, HINDS COUNTY_DRIVING, HONOLULU COUNTY_WALKING, HONOLULU COUNTY_TRANSIT, HONOLULU COUNTY_DRIVING, HOPEWELL CITY_WALKING, HOPEWELL CITY_TRANSIT, HOPEWELL CITY_DRIVING, ALAMEDA COUNTY_WALKING, ALAMEDA COUNTY_TRANSIT, ALAMEDA COUNTY_DRIVING, ALBANY COUNTY_WALKING, ALBANY COUNTY_TRANSIT, ...]
Index: []

[0 rows x 245 columns]

In [17]:
#Creating list of unique dates
dates_list_apple = apple_mobility['Date'].unique()
dates_list_apple

array(['2021-01-24T00:00:00.000000000', '2020-08-07T00:00:00.000000000',
       '2021-01-25T00:00:00.000000000', '2020-08-06T00:00:00.000000000',
       '2021-01-22T00:00:00.000000000', '2020-08-05T00:00:00.000000000',
       '2021-01-23T00:00:00.000000000', '2020-08-04T00:00:00.000000000',
       '2021-01-20T00:00:00.000000000', '2021-01-21T00:00:00.000000000',
       '2020-08-09T00:00:00.000000000', '2020-08-08T00:00:00.000000000',
       '2020-07-30T00:00:00.000000000', '2020-07-31T00:00:00.000000000',
       '2020-08-03T00:00:00.000000000', '2020-08-02T00:00:00.000000000',
       '2020-08-01T00:00:00.000000000', '2021-01-19T00:00:00.000000000',
       '2021-01-17T00:00:00.000000000', '2021-01-18T00:00:00.000000000',
       '2021-01-15T00:00:00.000000000', '2021-01-16T00:00:00.000000000',
       '2021-01-13T00:00:00.000000000', '2020-08-18T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2020-08-17T00:00:00.000000000',
       '2021-01-11T00:00:00.000000000', '2020-08-16T00:00:00.000000000',
       '2021-01-12T00:00:00.000000000', '2020-08-15T00:00:00.000000000',
       '2021-01-10T00:00:00.000000000', '2020-08-19T00:00:00.000000000',
       '2020-08-10T00:00:00.000000000', '2020-08-14T00:00:00.000000000',
       '2020-08-13T00:00:00.000000000', '2020-08-12T00:00:00.000000000',
       '2020-08-11T00:00:00.000000000', '2021-01-08T00:00:00.000000000',
       '2021-01-09T00:00:00.000000000', '2021-01-06T00:00:00.000000000',
       '2021-01-07T00:00:00.000000000', '2021-01-04T00:00:00.000000000',
       '2021-01-05T00:00:00.000000000', '2021-02-14T00:00:00.000000000',
       '2020-07-16T00:00:00.000000000', '2021-02-15T00:00:00.000000000',
       '2020-07-17T00:00:00.000000000', '2021-02-12T00:00:00.000000000',
       '2020-07-14T00:00:00.000000000', '2021-02-13T00:00:00.000000000',
       '2020-07-15T00:00:00.000000000', '2021-02-10T00:00:00.000000000',
       '2021-02-11T00:00:00.000000000', '2020-07-18T00:00:00.000000000',
       '2020-07-19T00:00:00.000000000', '2020-07-12T00:00:00.000000000',
       '2020-07-13T00:00:00.000000000', '2020-07-10T00:00:00.000000000',
       '2020-07-11T00:00:00.000000000', '2021-02-09T00:00:00.000000000',
       '2021-02-07T00:00:00.000000000', '2021-02-08T00:00:00.000000000',
       '2021-02-05T00:00:00.000000000', '2021-02-06T00:00:00.000000000',
       '2021-02-03T00:00:00.000000000', '2020-07-27T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2020-07-28T00:00:00.000000000',
       '2021-02-01T00:00:00.000000000', '2020-07-25T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2020-07-26T00:00:00.000000000',
       '2021-01-31T00:00:00.000000000', '2020-07-29T00:00:00.000000000',
       '2021-01-30T00:00:00.000000000', '2020-07-20T00:00:00.000000000',
       '2020-07-23T00:00:00.000000000', '2020-07-24T00:00:00.000000000',
       '2020-07-21T00:00:00.000000000', '2020-07-22T00:00:00.000000000',
       '2021-01-28T00:00:00.000000000', '2021-01-29T00:00:00.000000000',
       '2021-01-26T00:00:00.000000000', '2021-01-27T00:00:00.000000000',
       '2020-06-26T00:00:00.000000000', '2020-06-27T00:00:00.000000000',
       '2020-06-24T00:00:00.000000000', '2020-06-25T00:00:00.000000000',
       '2020-06-28T00:00:00.000000000', '2020-06-29T00:00:00.000000000',
       '2020-06-22T00:00:00.000000000', '2020-06-23T00:00:00.000000000',
       '2020-06-20T00:00:00.000000000', '2020-06-21T00:00:00.000000000',
       '2020-07-05T00:00:00.000000000', '2020-07-06T00:00:00.000000000',
       '2020-07-03T00:00:00.000000000', '2020-07-04T00:00:00.000000000',
       '2020-07-09T00:00:00.000000000', '2020-07-07T00:00:00.000000000',
       '2020-07-08T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-07-02T00:00:00.000000000',
       '2021-01-02T00:00:00.000000000', '2020-06-04T00:00:00.000000000',
       '2021-01-03T00:00:00.000000000', '2020-06-05T00:00:00.000000000',
       '2020-06-02T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
       '2020-06-03T00:00:00.000000000', '2020-06-08T00:00:00.000000000',
       '2020-06-09T00:00:00.000000000', '2020-06-06T00:00:00.000000000',
       '2020-06-07T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-05-30T00:00:00.000000000', '2020-05-31T00:00:00.000000000',
       '2020-06-15T00:00:00.000000000', '2020-06-16T00:00:00.000000000',
       '2020-06-13T00:00:00.000000000', '2020-06-14T00:00:00.000000000',
       '2020-06-19T00:00:00.000000000', '2020-06-17T00:00:00.000000000',
       '2020-06-18T00:00:00.000000000', '2020-06-11T00:00:00.000000000',
       '2020-06-12T00:00:00.000000000', '2020-06-10T00:00:00.000000000',
       '2020-05-14T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-13T00:00:00.000000000', '2020-05-18T00:00:00.000000000',
       '2020-05-19T00:00:00.000000000', '2020-05-16T00:00:00.000000000',
       '2020-05-17T00:00:00.000000000', '2020-05-10T00:00:00.000000000',
       '2020-05-09T00:00:00.000000000', '2020-05-25T00:00:00.000000000',
       '2020-05-26T00:00:00.000000000', '2020-05-23T00:00:00.000000000',
       '2020-05-24T00:00:00.000000000', '2020-05-29T00:00:00.000000000',
       '2020-05-27T00:00:00.000000000', '2020-05-28T00:00:00.000000000',
       '2020-05-21T00:00:00.000000000', '2020-05-22T00:00:00.000000000',
       '2020-05-20T00:00:00.000000000', '2020-04-23T00:00:00.000000000',
       '2020-04-22T00:00:00.000000000', '2020-04-25T00:00:00.000000000',
       '2020-04-24T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-04-26T00:00:00.000000000', '2020-04-29T00:00:00.000000000',
       '2020-04-28T00:00:00.000000000', '2020-04-21T00:00:00.000000000',
       '2020-04-20T00:00:00.000000000', '2020-04-19T00:00:00.000000000',
       '2020-05-03T00:00:00.000000000', '2020-05-04T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-05-02T00:00:00.000000000',
       '2020-05-07T00:00:00.000000000', '2020-05-08T00:00:00.000000000',
       '2020-05-05T00:00:00.000000000', '2020-05-06T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2021-03-05T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2021-03-04T00:00:00.000000000',
       '2021-03-03T00:00:00.000000000', '2020-04-03T00:00:00.000000000',
       '2021-03-02T00:00:00.000000000', '2020-04-02T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2020-04-05T00:00:00.000000000',
       '2020-04-04T00:00:00.000000000', '2020-04-07T00:00:00.000000000',
       '2020-04-06T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2021-02-28T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2020-04-12T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2020-04-11T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2020-04-14T00:00:00.000000000',
       '2021-02-24T00:00:00.000000000', '2020-04-13T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2020-04-16T00:00:00.000000000',
       '2021-02-22T00:00:00.000000000', '2020-04-15T00:00:00.000000000',
       '2020-04-18T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
       '2020-04-17T00:00:00.000000000', '2020-04-10T00:00:00.000000000',
       '2020-04-09T00:00:00.000000000', '2020-04-08T00:00:00.000000000',
       '2021-02-18T00:00:00.000000000', '2021-02-19T00:00:00.000000000',
       '2021-02-16T00:00:00.000000000', '2021-02-17T00:00:00.000000000',
       '2020-03-11T00:00:00.000000000', '2020-03-10T00:00:00.000000000',
       '2020-03-13T00:00:00.000000000', '2020-03-12T00:00:00.000000000',
       '2020-03-15T00:00:00.000000000', '2020-03-14T00:00:00.000000000',
       '2020-03-17T00:00:00.000000000', '2020-03-16T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-03-09T00:00:00.000000000', '2020-03-22T00:00:00.000000000',
       '2020-03-21T00:00:00.000000000', '2020-03-24T00:00:00.000000000',
       '2020-03-23T00:00:00.000000000', '2020-03-26T00:00:00.000000000',
       '2020-03-25T00:00:00.000000000', '2020-03-28T00:00:00.000000000',
       '2020-03-27T00:00:00.000000000', '2020-03-20T00:00:00.000000000',
       '2020-03-19T00:00:00.000000000', '2020-03-18T00:00:00.000000000',
       '2021-03-08T00:00:00.000000000', '2021-03-07T00:00:00.000000000',
       '2021-03-06T00:00:00.000000000', '2020-02-20T00:00:00.000000000',
       '2020-02-21T00:00:00.000000000', '2020-02-22T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-02-17T00:00:00.000000000',
       '2020-02-18T00:00:00.000000000', '2020-02-19T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-02-28T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-01-30T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2020-02-02T00:00:00.000000000',
       '2020-02-03T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2020-02-05T00:00:00.000000000', '2020-01-27T00:00:00.000000000',
       '2020-01-28T00:00:00.000000000', '2020-01-29T00:00:00.000000000',
       '2020-02-10T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-02-12T00:00:00.000000000', '2020-02-13T00:00:00.000000000',
       '2020-02-14T00:00:00.000000000', '2020-02-15T00:00:00.000000000',
       '2020-02-16T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-02-08T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-12-29T00:00:00.000000000',
       '2020-01-13T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2020-01-14T00:00:00.000000000', '2020-12-28T00:00:00.000000000',
       '2020-01-15T00:00:00.000000000', '2020-12-30T00:00:00.000000000',
       '2020-12-31T00:00:00.000000000', '2020-01-20T00:00:00.000000000',
       '2020-01-21T00:00:00.000000000', '2020-01-22T00:00:00.000000000',
       '2020-12-18T00:00:00.000000000', '2020-01-23T00:00:00.000000000',
       '2020-12-19T00:00:00.000000000', '2020-01-24T00:00:00.000000000',
       '2020-12-16T00:00:00.000000000', '2020-01-25T00:00:00.000000000',
       '2020-12-17T00:00:00.000000000', '2020-01-26T00:00:00.000000000',
       '2020-12-25T00:00:00.000000000', '2020-01-16T00:00:00.000000000',
       '2020-12-26T00:00:00.000000000', '2020-01-17T00:00:00.000000000',
       '2020-12-23T00:00:00.000000000', '2020-01-18T00:00:00.000000000',
       '2020-12-24T00:00:00.000000000', '2020-01-19T00:00:00.000000000',
       '2020-12-21T00:00:00.000000000', '2020-12-22T00:00:00.000000000',
       '2020-12-20T00:00:00.000000000', '2020-12-09T00:00:00.000000000',
       '2020-12-07T00:00:00.000000000', '2020-12-08T00:00:00.000000000',
       '2020-12-05T00:00:00.000000000', '2020-12-06T00:00:00.000000000',
       '2020-12-14T00:00:00.000000000', '2020-12-15T00:00:00.000000000',
       '2020-12-12T00:00:00.000000000', '2020-12-13T00:00:00.000000000',
       '2020-12-10T00:00:00.000000000', '2020-12-11T00:00:00.000000000',
       '2020-11-28T00:00:00.000000000', '2020-11-29T00:00:00.000000000',
       '2020-11-26T00:00:00.000000000', '2020-11-27T00:00:00.000000000',
       '2020-12-03T00:00:00.000000000', '2020-12-04T00:00:00.000000000',
       '2020-12-01T00:00:00.000000000', '2020-12-02T00:00:00.000000000',
       '2020-11-30T00:00:00.000000000', '2020-11-19T00:00:00.000000000',
       '2020-11-17T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2020-11-16T00:00:00.000000000',
       '2020-11-24T00:00:00.000000000', '2020-11-25T00:00:00.000000000',
       '2020-11-22T00:00:00.000000000', '2020-11-23T00:00:00.000000000',
       '2020-11-20T00:00:00.000000000', '2020-11-21T00:00:00.000000000',
       '2020-11-08T00:00:00.000000000', '2020-11-09T00:00:00.000000000',
       '2020-11-06T00:00:00.000000000', '2020-11-07T00:00:00.000000000',
       '2020-11-04T00:00:00.000000000', '2020-11-05T00:00:00.000000000',
       '2020-11-13T00:00:00.000000000', '2020-11-14T00:00:00.000000000',
       '2020-11-11T00:00:00.000000000', '2020-11-12T00:00:00.000000000',
       '2020-11-10T00:00:00.000000000', '2020-10-29T00:00:00.000000000',
       '2020-10-26T00:00:00.000000000', '2020-10-25T00:00:00.000000000',
       '2020-10-28T00:00:00.000000000', '2020-10-27T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-11-02T00:00:00.000000000',
       '2020-11-03T00:00:00.000000000', '2020-11-01T00:00:00.000000000',
       '2020-10-31T00:00:00.000000000', '2020-10-30T00:00:00.000000000',
       '2020-10-19T00:00:00.000000000', '2020-10-18T00:00:00.000000000',
       '2020-10-15T00:00:00.000000000', '2020-10-14T00:00:00.000000000',
       '2020-10-17T00:00:00.000000000', '2020-10-16T00:00:00.000000000',
       '2020-10-22T00:00:00.000000000', '2020-10-21T00:00:00.000000000',
       '2020-10-24T00:00:00.000000000', '2020-10-23T00:00:00.000000000',
       '2020-10-20T00:00:00.000000000', '2020-10-08T00:00:00.000000000',
       '2020-09-19T00:00:00.000000000', '2020-10-07T00:00:00.000000000',
       '2020-09-18T00:00:00.000000000', '2020-09-17T00:00:00.000000000',
       '2020-10-09T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-10-03T00:00:00.000000000',
       '2020-10-06T00:00:00.000000000', '2020-10-05T00:00:00.000000000',
       '2020-09-11T00:00:00.000000000', '2020-09-10T00:00:00.000000000',
       '2020-09-15T00:00:00.000000000', '2020-09-14T00:00:00.000000000',
       '2020-09-13T00:00:00.000000000', '2020-09-12T00:00:00.000000000',
       '2020-10-11T00:00:00.000000000', '2020-10-10T00:00:00.000000000',
       '2020-10-13T00:00:00.000000000', '2020-10-12T00:00:00.000000000',
       '2020-09-29T00:00:00.000000000', '2020-09-28T00:00:00.000000000',
       '2020-09-27T00:00:00.000000000', '2020-09-22T00:00:00.000000000',
       '2020-09-21T00:00:00.000000000', '2020-09-20T00:00:00.000000000',
       '2020-09-26T00:00:00.000000000', '2020-09-25T00:00:00.000000000',
       '2020-09-24T00:00:00.000000000', '2020-09-23T00:00:00.000000000',
       '2020-10-02T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-08-29T00:00:00.000000000', '2020-08-28T00:00:00.000000000',
       '2020-08-27T00:00:00.000000000', '2020-08-26T00:00:00.000000000',
       '2020-08-21T00:00:00.000000000', '2020-08-20T00:00:00.000000000',
       '2020-08-25T00:00:00.000000000', '2020-08-24T00:00:00.000000000',
       '2020-08-23T00:00:00.000000000', '2020-08-22T00:00:00.000000000',
       '2020-09-08T00:00:00.000000000', '2020-09-07T00:00:00.000000000',
       '2020-09-06T00:00:00.000000000', '2020-09-05T00:00:00.000000000',
       '2020-09-09T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-09-04T00:00:00.000000000',
       '2020-09-03T00:00:00.000000000', '2020-09-02T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2020-05-12T00:00:00.000000000',
       '2020-05-11T00:00:00.000000000'], dtype='datetime64[ns]')

In [18]:
#Entering the dates range from minimum to maximum range and dummy variable
new_apple['Date'] = pd.date_range(start=min(apple_mobility['Date']), end=max(apple_mobility['Date']))
new_apple['Apple Mobility Present'] = 0
new_apple

          Date  ...  WILLIAMSON COUNTY_DRIVING
0   2020-01-13  ...                        NaN
1   2020-01-14  ...                        NaN
2   2020-01-15  ...                        NaN
3   2020-01-16  ...                        NaN
4   2020-01-17  ...                        NaN
..         ...  ...                        ...
416 2021-03-04  ...                        NaN
417 2021-03-05  ...                        NaN
418 2021-03-06  ...                        NaN
419 2021-03-07  ...                        NaN
420 2021-03-08  ...                        NaN

[421 rows x 245 columns]

In [19]:
#Entering the actual respective data in the new dataframe
for i in dates_list_apple:
  data = dict.fromkeys(columns_apple)
  data['Date'] = i
  data['Apple Mobility Present'] = 1 
  temp_df = apple_mobility[apple_mobility['Date'] == i] 
  for j in temp_df.index:
    data[temp_df.loc[j]['Sub Region 2'] + '_' + temp_df.loc[j]['Transportation Type']] = temp_df.loc[j]['Value']
  ind = new_apple[new_apple['Date'] == i].index
  new_apple.loc[ind] = data.values()
new_apple

          Date  ...  WILLIAMSON COUNTY_DRIVING
0   2020-01-13  ...                       None
1   2020-01-14  ...                       None
2   2020-01-15  ...                       None
3   2020-01-16  ...                       None
4   2020-01-17  ...                       None
..         ...  ...                        ...
416 2021-03-04  ...                       None
417 2021-03-05  ...                       None
418 2021-03-06  ...                       None
419 2021-03-07  ...                       None
420 2021-03-08  ...                       None

[421 rows x 245 columns]

In [20]:
#Removing columns where there is no value
for i in new_apple.columns:
  if new_apple[i].isnull().sum() == 421:
    new_apple = new_apple.drop(columns=i)
new_apple

          Date  ...  WILLIAMSON COUNTY_WALKING
0   2020-01-13  ...                        100
1   2020-01-14  ...                      95.46
2   2020-01-15  ...                      95.93
3   2020-01-16  ...                      97.93
4   2020-01-17  ...                     117.67
..         ...  ...                        ...
416 2021-03-04  ...                     164.87
417 2021-03-05  ...                     185.38
418 2021-03-06  ...                     200.57
419 2021-03-07  ...                     137.23
420 2021-03-08  ...                     148.03

[421 rows x 92 columns]

In [21]:
#Converting the dataframe to csv for downloading it
new_apple.to_csv('new_apple.csv')

### **Energy, Oil and Gas Data**

In [22]:
#Importing JODI dataset
jodi_oil = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/jodi.csv')
jodi_oil

       Value  ...                                      Source
0      14.74  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
1      14.83  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
2      15.53  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
3      14.48  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
4      14.36  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
...      ...  ...                                         ...
17890  83.00  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
17891  54.00  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
17892  79.00  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
17893  79.00  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI
17894  80.00  ...  JOINT ORGANISATIONS DATA INITIATIVE - JODI

[17895 rows x 10 columns]

In [23]:
#Converting dat in text for to pandas datetime format
jodi_oil['Date'] = pd.to_datetime(jodi_oil['Date'])
jodi_oil.dtypes

Value                         float64
Date                   datetime64[ns]
Sub-Sector                     object
Super Region                   object
Energy Product                 object
Flow Breakdown                 object
Time Level                     object
Country                        object
Unit of Measurement            object
Source                         object
dtype: object

In [24]:
#Checking for null values
jodi_oil.isnull().sum()

Value                  0
Date                   0
Sub-Sector             0
Super Region           0
Energy Product         0
Flow Breakdown         0
Time Level             0
Country                0
Unit of Measurement    0
Source                 0
dtype: int64

In [25]:
#Creating the blank dataframe
columns_jodi = ['Date', 'JODI Present']
for i in jodi_oil['Country'].unique():
  columns_jodi.append(i)
new_jodi = pd.DataFrame(columns = columns_jodi)
new_jodi

Empty DataFrame
Columns: [Date, JODI Present, BRUNEI DARUSSALAM, GERMANY, CYPRUS, SWITZERLAND, UNITED STATES, AZERBAIJAN, ICELAND, HUNGARY, LUXEMBOURG, HONG KONG, ALGERIA, BULGARIA, EGYPT, LATVIA, ANGOLA, UNITED KINGDOM, CROATIA, BAHRAIN, MALTA, JAPAN, ITALY, ESTONIA, CHINA, DENMARK, POLAND, AUSTRALIA, PORTUGAL, SPAIN, SWEDEN, FINLAND, CZECH REPUBLIC, ROMANIA, TAIWAN, PROVINCE OF CHINA, NORWAY, TURKEY, BELGIUM, SLOVENIA, IRELAND, NETHERLANDS, LITHUANIA, THAILAND, CANADA, FRANCE, KOREA, REPUBLIC OF, NIGERIA, AUSTRIA, SAUDI ARABIA, CHILE, SLOVAKIA, COSTA RICA, ARGENTINA, BRAZIL, INDIA, UKRAINE, EQUATORIAL GUINEA, GEORGIA, JAMAICA, PAPUA NEW GUINEA, URUGUAY, PANAMA, MOLDOVA, REPUBLIC OF, MEXICO, BELARUS, GREECE, IRAQ, NEW ZEALAND, INDONESIA, HONDURAS, GUATEMALA, KUWAIT, NICARAGUA, PHILIPPINES, GABON, ECUADOR, TUNISIA, SOUTH AFRICA, DOMINICAN REPUBLIC, QATAR, UNITED ARAB EMIRATES, EL SAVADOR, MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF, PERU, IRAN, ISLAMIC REPUBLIC OF, BARBADOS, COLOMBIA, BELIZE, MOROCCO, VENEZUELA, BOLIVARIAN REPUBLIC OF, BOLIVIA, PLURINATIONAL STATE OF, TAJIKISTAN, MYANMAR, GUYANA, OMAN, GRENADA, TRINIDAD AND TOBAGO, MALAYSIA, SURINAME, KAZAKHSTAN, ...]
Index: []

[0 rows x 102 columns]

In [26]:
#Getting the list of unique dates
dates_list_jodi = jodi_oil['Date'].unique()
dates_list_jodi

array(['2016-05-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-12-01T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2016-11-01T00:00:00.000000000',
       '2012-09-01T00:00:00.000000000', '2013-08-01T00:00:00.000000000',
       '2017-10-01T00:00:00.000000000', '2008-05-31T00:00:00.000000000',
       '2003-10-31T00:00:00.000000000', '2006-01-31T00:00:00.000000000',
       '2007-06-30T00:00:00.000000000', '2010-05-01T00:00:00.000000000',
       '2005-08-31T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
       '2002-11-30T00:00:00.000000000', '2004-03-31T00:00:00.000000000',
       '2008-11-30T00:00:00.000000000', '2012-04-01T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2002-05-31T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2006-06-30T00:00:00.000000000',
       '2005-03-31T00:00:00.000000000', '2004-04-30T00:00:00.000000000',
       '2007-11-30T00:00:00.000000000', '2014-02-01T00:00:00.000000000',
       '2008-10-31T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '2003-09-30T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2016-04-01T00:00:00.000000000', '2004-09-30T00:00:00.000000000',
       '2011-04-01T00:00:00.000000000', '2015-05-01T00:00:00.000000000',
       '2014-08-01T00:00:00.000000000', '2009-05-01T00:00:00.000000000',
       '2016-10-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2003-04-30T00:00:00.000000000', '2019-03-01T00:00:00.000000000',
       '2013-03-01T00:00:00.000000000', '2009-11-01T00:00:00.000000000',
       '2011-09-01T00:00:00.000000000', '2007-05-31T00:00:00.000000000',
       '2011-03-01T00:00:00.000000000', '2010-04-01T00:00:00.000000000',
       '2006-08-31T00:00:00.000000000', '2007-02-28T00:00:00.000000000',
       '2004-02-29T00:00:00.000000000', '2013-01-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2002-10-31T00:00:00.000000000',
       '2009-06-01T00:00:00.000000000', '2008-12-31T00:00:00.000000000',
       '2003-03-31T00:00:00.000000000', '2002-04-30T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2005-12-31T00:00:00.000000000',
       '2015-07-01T00:00:00.000000000', '2008-01-31T00:00:00.000000000',
       '2015-11-01T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
       '2004-07-31T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2014-06-01T00:00:00.000000000',
       '2010-09-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2002-09-30T00:00:00.000000000', '2005-01-31T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2007-07-31T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2012-08-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2007-01-31T00:00:00.000000000',
       '2006-12-31T00:00:00.000000000', '2004-08-31T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2005-07-31T00:00:00.000000000', '2018-11-01T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000', '2006-02-28T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2013-02-01T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2012-07-01T00:00:00.000000000',
       '2016-06-01T00:00:00.000000000', '2020-01-01T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2006-07-31T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2007-12-31T00:00:00.000000000',
       '2005-02-28T00:00:00.000000000', '2008-06-30T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2013-07-01T00:00:00.000000000',
       '2002-03-31T00:00:00.000000000', '2003-08-31T00:00:00.000000000',
       '2012-02-01T00:00:00.000000000', '2006-04-30T00:00:00.000000000',
       '2007-03-31T00:00:00.000000000', '2004-12-31T00:00:00.000000000',
       '2005-11-30T00:00:00.000000000', '2009-02-01T00:00:00.000000000',
       '2004-06-30T00:00:00.000000000', '2005-05-31T00:00:00.000000000',
       '2006-10-31T00:00:00.000000000', '2010-08-01T00:00:00.000000000',
       '2003-07-31T00:00:00.000000000', '2002-08-31T00:00:00.000000000',
       '2013-11-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2016-02-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '2011-02-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2006-09-30T00:00:00.000000000', '2003-02-28T00:00:00.000000000',
       '2009-07-01T00:00:00.000000000', '2019-05-01T00:00:00.000000000',
       '2008-08-31T00:00:00.000000000', '2013-05-01T00:00:00.000000000',
       '2011-07-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2015-08-01T00:00:00.000000000',
       '2011-01-01T00:00:00.000000000', '2002-02-28T00:00:00.000000000',
       '2015-10-01T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2014-05-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2009-08-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2003-01-31T00:00:00.000000000', '2013-06-01T00:00:00.000000000',
       '2008-07-31T00:00:00.000000000', '2007-08-31T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2008-02-29T00:00:00.000000000',
       '2006-03-31T00:00:00.000000000', '2017-01-01T00:00:00.000000000',
       '2006-11-30T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2005-06-30T00:00:00.000000000',
       '2010-07-01T00:00:00.000000000', '2004-01-31T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2002-07-31T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2014-11-01T00:00:00.000000000', '2012-06-01T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2009-09-01T00:00:00.000000000',
       '2014-03-01T00:00:00.000000000', '2005-09-30T00:00:00.000000000',
       '2019-06-01T00:00:00.000000000', '2008-09-30T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000', '2012-05-01T00:00:00.000000000',
       '2006-05-31T00:00:00.000000000', '2017-03-01T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2003-12-31T00:00:00.000000000', '2010-01-01T00:00:00.000000000',
       '2005-04-30T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '2007-10-31T00:00:00.000000000', '2012-11-01T00:00:00.000000000',
       '2003-06-30T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2013-09-01T00:00:00.000000000', '2008-04-30T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2004-10-31T00:00:00.000000000',
       '2002-01-31T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2010-06-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2015-04-01T00:00:00.000000000', '2003-11-30T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2009-04-01T00:00:00.000000000',
       '2002-12-31T00:00:00.000000000', '2012-10-01T00:00:00.000000000',
       '2003-05-31T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2009-10-01T00:00:00.000000000', '2002-06-30T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2007-04-30T00:00:00.000000000',
       '2005-10-31T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '2004-11-30T00:00:00.000000000', '2008-03-31T00:00:00.000000000',
       '2004-05-31T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2014-04-01T00:00:00.000000000', '2019-07-01T00:00:00.000000000',
       '2011-11-01T00:00:00.000000000', '2013-10-01T00:00:00.000000000',
       '2017-08-01T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
       '2007-09-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [27]:
#Initialise the date range from minimum to maximum and the dummy variable
new_jodi['Date'] = pd.date_range(start=pd.to_datetime('2002-01-01'), end = pd.to_datetime('2020-07-31'))
new_jodi['JODI Present'] = 0
new_jodi

           Date  JODI Present BRUNEI DARUSSALAM  ... KAZAKHSTAN LIBYA CUBA
0    2002-01-01             0               NaN  ...        NaN   NaN  NaN
1    2002-01-02             0               NaN  ...        NaN   NaN  NaN
2    2002-01-03             0               NaN  ...        NaN   NaN  NaN
3    2002-01-04             0               NaN  ...        NaN   NaN  NaN
4    2002-01-05             0               NaN  ...        NaN   NaN  NaN
...         ...           ...               ...  ...        ...   ...  ...
6782 2020-07-27             0               NaN  ...        NaN   NaN  NaN
6783 2020-07-28             0               NaN  ...        NaN   NaN  NaN
6784 2020-07-29             0               NaN  ...        NaN   NaN  NaN
6785 2020-07-30             0               NaN  ...        NaN   NaN  NaN
6786 2020-07-31             0               NaN  ...        NaN   NaN  NaN

[6787 rows x 102 columns]

In [28]:
#Entering the actual data in the new dataframe
for a in pd.to_datetime(dates_list_jodi):
  temp_df = jodi_oil[jodi_oil['Date'] == a]
  for i in  pd.to_datetime(new_jodi['Date'].values):
    data = dict.fromkeys(columns_jodi)
    data['Date'] = i  
    data['JODI Present'] = 1
    #This is the condition to add the number for all days in the given specific month of a specific year
    if a.year == data['Date'].year and a.month == data['Date'].month:
      for j in temp_df.index:
        data[temp_df.loc[j]['Country']] = temp_df.loc[j]['Value'] * 1000
      new_jodi[new_jodi['Date'] == i] = data.values()
new_jodi

           Date  JODI Present BRUNEI DARUSSALAM  ... KAZAKHSTAN LIBYA  CUBA
0    2002-01-01             1             11720  ...       None  None  None
1    2002-01-02             1             11720  ...       None  None  None
2    2002-01-03             1             11720  ...       None  None  None
3    2002-01-04             1             11720  ...       None  None  None
4    2002-01-05             1             11720  ...       None  None  None
...         ...           ...               ...  ...        ...   ...   ...
6782 2020-07-27             1             24660  ...       None  None  None
6783 2020-07-28             1             24660  ...       None  None  None
6784 2020-07-29             1             24660  ...       None  None  None
6785 2020-07-30             1             24660  ...       None  None  None
6786 2020-07-31             1             24660  ...       None  None  None

[6787 rows x 102 columns]

In [29]:
#Checking for null values in new dataframe
new_jodi.isnull().sum()

Date                    0
JODI Present            0
BRUNEI DARUSSALAM       0
GERMANY                 0
CYPRUS                334
                     ...
MALAYSIA             2710
SURINAME             4383
KAZAKHSTAN           6728
LIBYA                2800
CUBA                 4961
Length: 102, dtype: int64

In [30]:
#Replacing hte null values by the mean of the column to depict the average supply of the oil barrels in the specific country
new_jodi = new_jodi.fillna(new_jodi.mean())
new_jodi

           Date  JODI Present  ...          LIBYA          CUBA
0    2002-01-01             1  ...  157676.197642  79338.992333
1    2002-01-02             1  ...  157676.197642  79338.992333
2    2002-01-03             1  ...  157676.197642  79338.992333
3    2002-01-04             1  ...  157676.197642  79338.992333
4    2002-01-05             1  ...  157676.197642  79338.992333
...         ...           ...  ...            ...           ...
6782 2020-07-27             1  ...  157676.197642  79338.992333
6783 2020-07-28             1  ...  157676.197642  79338.992333
6784 2020-07-29             1  ...  157676.197642  79338.992333
6785 2020-07-30             1  ...  157676.197642  79338.992333
6786 2020-07-31             1  ...  157676.197642  79338.992333

[6787 rows x 102 columns]

In [31]:
#Converting to csv to download the data
new_jodi.to_csv('new_jodi.csv')

### **Financial Data**

**Financial Statements data**

In [32]:
#Importing the dataset
financial_statements = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/financial_statement.csv')
financial_statements

      Value  ...       Financial Metric
0      0.02  ...  FREE CASH FLOW MARGIN
1      0.05  ...  FREE CASH FLOW MARGIN
2      0.03  ...  FREE CASH FLOW MARGIN
3      0.06  ...  FREE CASH FLOW MARGIN
4      0.02  ...  FREE CASH FLOW MARGIN
...     ...  ...                    ...
4257   0.11  ...            EPS DILUTED
4258   0.60  ...            EPS DILUTED
4259  -5.84  ...            EPS DILUTED
4260  -0.70  ...            EPS DILUTED
4261   0.59  ...            EPS DILUTED

[4262 rows x 16 columns]

In [33]:
#Converting the date to datetime format from string
financial_statements['Date'] = pd.to_datetime(financial_statements['Date'])
financial_statements.dtypes

Value                      float64
Date                datetime64[ns]
Super Region                object
Ticker                      object
Time Level                  object
Unit                        object
Source                      object
Exchange                    object
Sub-Sector                  object
Company Name                object
Industry Level 2            object
Industry Level 1            object
Company Website             object
Statement Type              object
Market Cap                  object
Financial Metric            object
dtype: object

In [34]:
#Filtering out the data fro Exxon
financial_statements_exxon = financial_statements[financial_statements['Ticker'] == 'XOM']
financial_statements_exxon

             Value  ...    Financial Metric
2637  8.000000e-02  ...   NET PROFIT MARGIN
2638  3.000000e-02  ...   NET PROFIT MARGIN
2639  3.000000e-02  ...   NET PROFIT MARGIN
2640  8.000000e-02  ...   NET PROFIT MARGIN
2641  8.000000e-02  ...   NET PROFIT MARGIN
...            ...  ...                 ...
3519  5.793000e+09  ...  INCOME TAX EXPENSE
3520  1.828000e+09  ...  INCOME TAX EXPENSE
3521  6.840000e+08  ...  INCOME TAX EXPENSE
3522  1.498000e+09  ...  INCOME TAX EXPENSE
3523  7.716000e+09  ...  INCOME TAX EXPENSE

[319 rows x 16 columns]

In [35]:
#Printing the unique values of all columns to see that which columns are needed to be handled for categorical value
for i in financial_statements_exxon.columns:
  print(i, financial_statements_exxon[i].unique(), sep = ':\t')

Value:	[ 8.00000e-02  3.00000e-02  9.00000e-02  5.00000e-02 -1.00000e-02
  1.00000e-01  6.00000e-02  7.00000e-02  4.00000e-02  1.30000e-01
 -3.00000e-02  1.60000e-01  2.00000e-01  1.90000e-01  1.40000e-01
  2.10000e-01  2.70000e-01  3.80000e-01  3.10000e-01  2.20000e-01
  2.80000e-01  2.40000e-01  2.50000e-01  2.90000e-01  2.30000e-01
  1.00000e+00  3.70000e-01  2.60000e-01  6.80000e+07  7.50000e+07
  1.95000e+08  8.80000e+07  6.40000e+07  4.50000e+07  5.40000e+07
  2.16000e+08  2.49000e+08  1.11000e+08  3.43000e+08  7.80000e+07
  5.50000e+07  1.81000e+08  2.40000e+07  9.80000e+07  5.00000e+07
  2.15000e+08  2.00000e+08  1.06000e+08  5.20000e+07  6.00000e+07
  1.58000e+08  1.10000e+08  8.50000e+07  7.70000e+07 -1.52000e+08
  2.90000e+07  2.32000e+08  3.17000e+08  2.04000e+08  6.20000e+07
  6.60000e+07  4.00000e+07  1.86000e+08 -1.57000e+08  5.90000e+07
  1.47000e+08  3.60000e+07  1.46000e+08  2.01000e+08  1.07000e+08
  8.26210e+10  5.63600e+10  5.83760e+10  6.47580e+10  1.06158e+11
  1.21766e+11  9.28550e+10  6.74910e+10  5.51340e+10  9.72480e+10
  7.44570e+10  6.56790e+10  9.02510e+10  6.16460e+10  1.03828e+11
  1.21415e+11  1.23712e+11  6.82530e+10  7.41870e+10  5.67670e+10
  1.08390e+11  5.76910e+10  6.08250e+10  1.01733e+11  7.13600e+10
  4.71050e+10  1.06018e+11  1.03566e+11  1.10177e+11  6.34220e+10
  3.22770e+10  6.54360e+10  8.05850e+10  1.01760e+11  9.24860e+10
  5.08320e+10  1.17782e+11  1.15706e+11  1.12320e+11  7.14560e+10
  8.74260e+10  1.02853e+11  6.10900e+10  6.30240e+10  6.44150e+10
  1.19843e+11  1.50000e-01  1.70000e-01  1.80000e-01  1.10000e-01
  6.80000e-01  7.50000e-01  6.90000e-01  4.70000e-01  4.60000e-01
  8.70000e-01  2.18000e+00  4.20000e-01  7.30000e-01  8.20000e-01
  5.70000e-01  6.20000e-01  7.70000e-01  5.40000e-01  4.40000e-01
  6.30000e-01  7.40000e-01  2.06000e+09  7.15000e+08 -1.40700e+09
  1.56000e+09  5.03400e+09  7.72100e+09  5.29700e+09  1.24100e+09
  5.12000e+08  7.39800e+09  3.57100e+09  1.36500e+09  5.49300e+09
  1.88300e+09  6.27700e+09  8.00900e+09  8.53700e+09  1.91500e+09
  2.63400e+09  3.37000e+08  6.12000e+09 -2.02000e+08  8.92000e+08
  5.81100e+09  2.69200e+09 -5.10000e+07  6.07300e+09  5.06400e+09
  8.00400e+09  1.47400e+09 -4.71000e+08  2.45700e+09  4.33300e+09
  5.85700e+09  4.96000e+09 -5.39200e+09  7.31700e+09 -1.62530e+10
  7.39400e+09  2.52600e+09  4.06700e+09  5.79300e+09  1.82800e+09
  6.84000e+08  1.49800e+09  7.71600e+09]
Date:	['2014-12-31T00:00:00.000000000' '2016-06-30T00:00:00.000000000'
 '2016-12-31T00:00:00.000000000' '2015-03-31T00:00:00.000000000'
 '2014-06-30T00:00:00.000000000' '2011-06-30T00:00:00.000000000'
 '2010-09-30T00:00:00.000000000' '2019-06-30T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2012-12-31T00:00:00.000000000'
 '2009-06-30T00:00:00.000000000' '2015-09-30T00:00:00.000000000'
 '2010-03-31T00:00:00.000000000' '2019-03-31T00:00:00.000000000'
 '2013-03-31T00:00:00.000000000' '2011-09-30T00:00:00.000000000'
 '2012-06-30T00:00:00.000000000' '2018-12-31T00:00:00.000000000'
 '2018-09-30T00:00:00.000000000' '2016-09-30T00:00:00.000000000'
 '2013-09-30T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2017-06-30T00:00:00.000000000' '2010-12-31T00:00:00.000000000'
 '2015-06-30T00:00:00.000000000' '2016-03-31T00:00:00.000000000'
 '2013-12-31T00:00:00.000000000' '2014-09-30T00:00:00.000000000'
 '2011-03-31T00:00:00.000000000' '2019-09-30T00:00:00.000000000'
 '2020-06-30T00:00:00.000000000' '2018-03-31T00:00:00.000000000'
 '2009-09-30T00:00:00.000000000' '2014-03-31T00:00:00.000000000'
 '2010-06-30T00:00:00.000000000' '2017-12-31T00:00:00.000000000'
 '2011-12-31T00:00:00.000000000' '2012-11-06T00:00:00.000000000'
 '2012-09-30T00:00:00.000000000' '2018-06-30T00:00:00.000000000'
 '2009-12-31T00:00:00.000000000' '2013-06-30T00:00:00.000000000'
 '2017-03-31T00:00:00.000000000' '2019-12-31T00:00:00.000000000'
 '2017-09-30T00:00:00.000000000' '2012-03-31T00:00:00.000000000']
Super Region:	['UNITED STATES']
Ticker:	['XOM']
Time Level:	['QUARTER']
Unit:	['PERCENT' 'USD']
Source:	['COMPANY SEC FILINGS']
Exchange:	['NEW YORK STOCK EXCHANGE']
Sub-Sector:	['FINANCIAL STATEMENT']
Company Name:	['EXXON MOBIL CORPORATION']
Industry Level 2:	['OIL & GAS - INTEGRATED']
Industry Level 1:	['ENERGY']
Company Website:	['HTTP://WWW.CORPORATE.EXXONMOBIL.COM']
Statement Type:	['INCOME-STATEMENT']
Market Cap:	['GREATER THAN $1BILLION MARKET CAP']
Financial Metric:	['NET PROFIT MARGIN' 'GROSS MARGIN' 'INTEREST EXPENSE' 'REVENUE'
 'EBITDA MARGIN' 'DIVIDEND PER SHARE' 'INCOME TAX EXPENSE']

In [36]:
#Initialising blank new dataframe
col_fin_st = ['Date', 'Financial Statement Present']
for i in financial_statements_exxon['Financial Metric'].unique():
  col_fin_st.append(i)

new_financial_statement = pd.DataFrame(columns = col_fin_st)
new_financial_statement

Empty DataFrame
Columns: [Date, Financial Statement Present, NET PROFIT MARGIN, GROSS MARGIN, INTEREST EXPENSE, REVENUE, EBITDA MARGIN, DIVIDEND PER SHARE, INCOME TAX EXPENSE]
Index: []

In [37]:
#Initialising the date range from the minimum to maximum date and the dummy variable
new_date_range = pd.date_range(start = min(financial_statements_exxon['Date']), end = max(financial_statements_exxon['Date']))
new_financial_statement['Date'] = new_date_range
new_financial_statement['Financial Statement Present'] = 0
new_financial_statement

           Date  ...  INCOME TAX EXPENSE
0    2009-06-30  ...                 NaN
1    2009-07-01  ...                 NaN
2    2009-07-02  ...                 NaN
3    2009-07-03  ...                 NaN
4    2009-07-04  ...                 NaN
...         ...  ...                 ...
4014 2020-06-26  ...                 NaN
4015 2020-06-27  ...                 NaN
4016 2020-06-28  ...                 NaN
4017 2020-06-29  ...                 NaN
4018 2020-06-30  ...                 NaN

[4019 rows x 9 columns]

In [38]:
#Entering the financial statements data in the new dataframe
for i in list(financial_statements_exxon['Date'].unique()):
  ind = new_financial_statement[new_financial_statement['Date'] == i].index[0]
  temp_df = financial_statements_exxon[financial_statements_exxon['Date'] == i]
  for k in financial_statements_exxon['Financial Metric'].unique():
    if temp_df[temp_df['Financial Metric'] == k]['Value'].values != None:
      new_financial_statement[k][ind] = temp_df[temp_df['Financial Metric'] == k]['Value'].values[0]
  new_financial_statement['Financial Statement Present'][ind] = 1
new_financial_statement

           Date  ...  INCOME TAX EXPENSE
0    2009-06-30  ...           3.571e+09
1    2009-07-01  ...                 NaN
2    2009-07-02  ...                 NaN
3    2009-07-03  ...                 NaN
4    2009-07-04  ...                 NaN
...         ...  ...                 ...
4014 2020-06-26  ...                 NaN
4015 2020-06-27  ...                 NaN
4016 2020-06-28  ...                 NaN
4017 2020-06-29  ...                 NaN
4018 2020-06-30  ...           -4.71e+08

[4019 rows x 9 columns]

In [39]:
#Converting the dataframe to csv to download the data
new_financial_statement.to_csv('new_financial_statement_exxon.csv')

**Stock Market Indicators and Indices**

In [40]:
#Importing the dataset
stock_indicators = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/stock_market_indicators_and_indices.csv')
stock_indicators

         Value        Date  ...   Unit                              Source
0       843.23  2020-08-07  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
1       664.80  2018-03-07  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
2       872.17  2021-01-25  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
3       828.87  2020-08-06  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
4       669.68  2018-03-06  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
...        ...         ...  ...    ...                                 ...
4995  10485.02  2019-07-05  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
4996  10416.13  2019-07-08  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
4997  10741.50  2018-07-20  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
4998  10339.01  2019-07-09  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED
4999   9182.78  2017-07-31  ...  INDEX  FEDERAL RESERVE ECONOMIC DATA-FRED

[5000 rows x 10 columns]

In [41]:
#Converting the date from string to datetime format
stock_indicators['Date'] = pd.to_datetime(stock_indicators['Date'])
stock_indicators.dtypes

Value                         float64
Date                   datetime64[ns]
Sub-Sector                     object
Super Region                   object
Description                    object
Time Level                     object
Category 2                     object
Seasonal Adjustment            object
Unit                           object
Source                         object
dtype: object

In [42]:
#Printing the unique values of all columns to see that which columns are needed to be handled for categorical value
for i in stock_indicators.columns:
  print(i, stock_indicators[i].unique(), sep = ':\t')

Value:	[  843.23   664.8    872.17 ... 10741.5  10339.01  9182.78]
Date:	['2020-08-07T00:00:00.000000000' '2018-03-07T00:00:00.000000000'
 '2021-01-25T00:00:00.000000000' '2020-08-06T00:00:00.000000000'
 '2018-03-06T00:00:00.000000000' '2021-01-22T00:00:00.000000000'
 '2020-08-05T00:00:00.000000000' '2018-03-09T00:00:00.000000000'
 '2020-08-04T00:00:00.000000000' '2018-03-08T00:00:00.000000000'
 '2021-01-20T00:00:00.000000000' '2021-01-21T00:00:00.000000000'
 '2018-03-01T00:00:00.000000000' '2020-08-03T00:00:00.000000000'
 '2018-03-02T00:00:00.000000000' '2019-07-22T00:00:00.000000000'
 '2018-03-05T00:00:00.000000000' '2019-07-12T00:00:00.000000000'
 '2019-07-15T00:00:00.000000000' '2019-07-17T00:00:00.000000000'
 '2019-07-16T00:00:00.000000000' '2019-07-19T00:00:00.000000000'
 '2019-07-18T00:00:00.000000000' '2021-01-19T00:00:00.000000000'
 '2021-01-15T00:00:00.000000000' '2021-01-13T00:00:00.000000000'
 '2020-08-18T00:00:00.000000000' '2021-01-14T00:00:00.000000000'
 '2020-08-17T00:00:00.000000000' '2021-01-11T00:00:00.000000000'
 '2021-01-12T00:00:00.000000000' '2020-08-19T00:00:00.000000000'
 '2020-08-10T00:00:00.000000000' '2020-08-14T00:00:00.000000000'
 '2019-07-31T00:00:00.000000000' '2020-08-13T00:00:00.000000000'
 '2019-07-30T00:00:00.000000000' '2020-08-12T00:00:00.000000000'
 '2020-08-11T00:00:00.000000000' '2019-07-24T00:00:00.000000000'
 '2019-07-23T00:00:00.000000000' '2019-07-26T00:00:00.000000000'
 '2019-07-25T00:00:00.000000000' '2019-07-29T00:00:00.000000000'
 '2021-01-08T00:00:00.000000000' '2021-01-06T00:00:00.000000000'
 '2021-01-07T00:00:00.000000000' '2021-01-04T00:00:00.000000000'
 '2021-01-05T00:00:00.000000000' '2018-03-29T00:00:00.000000000'
 '2018-03-28T00:00:00.000000000' '2017-08-29T00:00:00.000000000'
 '2017-08-28T00:00:00.000000000' '2018-03-21T00:00:00.000000000'
 '2018-03-20T00:00:00.000000000' '2018-03-23T00:00:00.000000000'
 '2018-03-22T00:00:00.000000000' '2018-03-27T00:00:00.000000000'
 '2018-03-26T00:00:00.000000000' '2017-08-30T00:00:00.000000000'
 '2017-08-31T00:00:00.000000000' '2018-03-19T00:00:00.000000000'
 '2018-03-12T00:00:00.000000000' '2018-03-14T00:00:00.000000000'
 '2018-03-13T00:00:00.000000000' '2018-03-16T00:00:00.000000000'
 '2018-03-15T00:00:00.000000000' '2021-01-28T00:00:00.000000000'
 '2021-01-29T00:00:00.000000000' '2021-01-26T00:00:00.000000000'
 '2021-01-27T00:00:00.000000000' '2020-06-26T00:00:00.000000000'
 '2020-06-24T00:00:00.000000000' '2020-06-25T00:00:00.000000000'
 '2020-06-29T00:00:00.000000000' '2020-06-22T00:00:00.000000000'
 '2020-06-23T00:00:00.000000000' '2017-11-10T00:00:00.000000000'
 '2017-11-13T00:00:00.000000000' '2017-11-14T00:00:00.000000000'
 '2017-11-15T00:00:00.000000000' '2017-11-16T00:00:00.000000000'
 '2017-11-17T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2019-09-12T00:00:00.000000000' '2019-09-13T00:00:00.000000000'
 '2019-09-10T00:00:00.000000000' '2019-09-11T00:00:00.000000000'
 '2019-09-05T00:00:00.000000000' '2019-09-06T00:00:00.000000000'
 '2019-09-03T00:00:00.000000000' '2017-11-20T00:00:00.000000000'
 '2019-09-04T00:00:00.000000000' '2017-11-21T00:00:00.000000000'
 '2019-09-09T00:00:00.000000000' '2017-11-22T00:00:00.000000000'
 '2017-11-24T00:00:00.000000000' '2017-11-27T00:00:00.000000000'
 '2017-11-28T00:00:00.000000000' '2017-11-29T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-06-05T00:00:00.000000000'
 '2020-06-02T00:00:00.000000000' '2018-05-08T00:00:00.000000000'
 '2020-06-03T00:00:00.000000000' '2018-05-09T00:00:00.000000000'
 '2020-06-08T00:00:00.000000000' '2020-06-09T00:00:00.000000000'
 '2018-05-02T00:00:00.000000000' '2019-09-20T00:00:00.000000000'
 '2018-05-03T00:00:00.000000000' '2018-05-01T00:00:00.000000000'
 '2019-10-09T00:00:00.000000000' '2019-09-23T00:00:00.000000000'
 '2020-06-01T00:00:00.000000000' '2019-09-24T00:00:00.000000000'
 '2018-05-07T00:00:00.000000000' '2018-05-04T00:00:00.000000000'
 '2019-09-16T00:00:00.000000000' '2019-09-17T00:00:00.000000000'
 '2019-10-07T00:00:00.000000000' '2019-10-08T00:00:00.000000000'
 '2019-10-01T00:00:00.000000000' '2019-10-02T00:00:00.000000000'
 '2018-05-10T00:00:00.000000000' '2019-10-03T00:00:00.000000000'
 '2019-09-18T00:00:00.000000000' '2019-10-04T00:00:00.000000000'
 '2019-09-19T00:00:00.000000000' '2020-06-15T00:00:00.000000000'
 '2020-06-16T00:00:00.000000000' '2020-06-19T00:00:00.000000000'
 '2020-06-17T00:00:00.000000000' '2020-06-18T00:00:00.000000000'
 '2019-09-30T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2020-06-12T00:00:00.000000000' '2020-06-10T00:00:00.000000000'
 '2019-10-16T00:00:00.000000000' '2019-09-27T00:00:00.000000000'
 '2019-10-17T00:00:00.000000000' '2019-10-18T00:00:00.000000000'
 '2019-09-25T00:00:00.000000000' '2019-09-26T00:00:00.000000000'
 '2017-11-01T00:00:00.000000000' '2019-10-14T00:00:00.000000000'
 '2017-11-02T00:00:00.000000000' '2019-10-15T00:00:00.000000000'
 '2017-11-03T00:00:00.000000000' '2019-10-10T00:00:00.000000000'
 '2017-11-06T00:00:00.000000000' '2019-10-11T00:00:00.000000000'
 '2017-11-07T00:00:00.000000000' '2017-11-08T00:00:00.000000000'
 '2017-11-09T00:00:00.000000000' '2018-11-23T00:00:00.000000000'
 '2019-10-28T00:00:00.000000000' '2019-10-29T00:00:00.000000000'
 '2018-11-21T00:00:00.000000000' '2019-10-23T00:00:00.000000000'
 '2019-10-24T00:00:00.000000000' '2018-11-20T00:00:00.000000000'
 '2019-10-25T00:00:00.000000000' '2019-10-21T00:00:00.000000000'
 '2018-11-29T00:00:00.000000000' '2019-10-22T00:00:00.000000000'
 '2018-11-27T00:00:00.000000000' '2018-11-28T00:00:00.000000000'
 '2018-11-26T00:00:00.000000000' '2018-11-12T00:00:00.000000000'
 '2018-11-13T00:00:00.000000000' '2019-10-30T00:00:00.000000000'
 '2019-10-31T00:00:00.000000000' '2018-11-19T00:00:00.000000000'
 '2018-11-16T00:00:00.000000000' '2018-11-14T00:00:00.000000000'
 '2018-11-15T00:00:00.000000000' '2020-04-23T00:00:00.000000000'
 '2018-01-04T00:00:00.000000000' '2020-04-22T00:00:00.000000000'
 '2018-01-05T00:00:00.000000000' '2020-04-24T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2018-01-08T00:00:00.000000000'
 '2018-01-09T00:00:00.000000000' '2020-04-29T00:00:00.000000000'
 '2020-04-28T00:00:00.000000000' '2020-04-21T00:00:00.000000000'
 '2018-01-02T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2018-01-03T00:00:00.000000000' '2017-11-30T00:00:00.000000000'
 '2020-04-30T00:00:00.000000000' '2018-11-30T00:00:00.000000000'
 '2021-03-05T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2018-01-26T00:00:00.000000000' '2021-03-04T00:00:00.000000000'
 '2021-03-03T00:00:00.000000000' '2020-04-03T00:00:00.000000000'
 '2021-03-02T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2018-01-29T00:00:00.000000000' '2021-03-01T00:00:00.000000000'
 '2020-04-07T00:00:00.000000000' '2020-04-06T00:00:00.000000000'
 '2018-01-22T00:00:00.000000000' '2018-01-23T00:00:00.000000000'
 '2018-01-24T00:00:00.000000000' '2018-01-25T00:00:00.000000000'
 '2019-12-08T00:00:00.000000000' '2019-12-07T00:00:00.000000000'
 '2019-12-09T00:00:00.000000000' '2019-12-04T00:00:00.000000000'
 '2019-12-03T00:00:00.000000000' '2019-12-06T00:00:00.000000000'
 '2019-12-05T00:00:00.000000000' '2019-12-02T00:00:00.000000000'
 '2019-12-01T00:00:00.000000000' '2018-01-16T00:00:00.000000000'
 '2020-04-14T00:00:00.000000000' '2018-01-17T00:00:00.000000000'
 '2020-04-13T00:00:00.000000000' '2018-01-18T00:00:00.000000000'
 '2020-04-16T00:00:00.000000000' '2018-01-19T00:00:00.000000000'
 '2020-04-15T00:00:00.000000000' '2020-04-17T00:00:00.000000000'
 '2018-01-10T00:00:00.000000000' '2018-01-11T00:00:00.000000000'
 '2018-01-12T00:00:00.000000000' '2019-12-19T00:00:00.000000000'
 '2019-12-18T00:00:00.000000000' '2019-12-17T00:00:00.000000000'
 '2019-12-16T00:00:00.000000000' '2020-04-09T00:00:00.000000000'
 '2019-12-11T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2019-12-10T00:00:00.000000000' '2019-12-13T00:00:00.000000000'
 '2019-12-12T00:00:00.000000000' '2019-12-26T00:00:00.000000000'
 '2019-12-27T00:00:00.000000000' '2019-12-24T00:00:00.000000000'
 '2019-12-23T00:00:00.000000000' '2019-12-20T00:00:00.000000000'
 '2018-01-30T00:00:00.000000000' '2018-01-31T00:00:00.000000000'
 '2021-03-09T00:00:00.000000000' '2021-03-08T00:00:00.000000000'
 '2019-12-31T00:00:00.000000000' '2019-12-30T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2017-04-04T00:00:00.000000000'
 '2020-02-21T00:00:00.000000000' '2017-04-05T00:00:00.000000000'
 '2017-04-06T00:00:00.000000000' '2019-02-08T00:00:00.000000000'
 '2017-04-07T00:00:00.000000000' '2020-02-24T00:00:00.000000000'
 '2019-02-07T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2019-02-06T00:00:00.000000000' '2020-02-26T00:00:00.000000000'
 '2019-02-05T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2019-02-04T00:00:00.000000000' '2019-02-01T00:00:00.000000000'
 '2018-08-14T00:00:00.000000000' '2018-08-15T00:00:00.000000000'
 '2018-08-16T00:00:00.000000000' '2018-08-17T00:00:00.000000000'
 '2018-08-21T00:00:00.000000000' '2018-08-22T00:00:00.000000000'
 '2018-08-23T00:00:00.000000000' '2018-08-24T00:00:00.000000000'
 '2018-08-20T00:00:00.000000000' '2020-02-18T00:00:00.000000000'
 '2020-02-19T00:00:00.000000000' '2017-04-10T00:00:00.000000000'
 '2017-04-17T00:00:00.000000000' '2019-02-19T00:00:00.000000000'
 '2017-04-18T00:00:00.000000000' '2017-04-11T00:00:00.000000000'
 '2017-04-12T00:00:00.000000000' '2017-04-13T00:00:00.000000000'
 '2019-02-15T00:00:00.000000000' '2019-02-14T00:00:00.000000000'
 '2018-08-07T00:00:00.000000000' '2019-02-13T00:00:00.000000000'
 '2018-08-08T00:00:00.000000000' '2019-02-12T00:00:00.000000000'
 '2018-08-09T00:00:00.000000000' '2019-02-11T00:00:00.000000000'
 '2018-08-03T00:00:00.000000000' '2017-04-19T00:00:00.000000000'
 '2018-08-06T00:00:00.000000000' '2018-08-10T00:00:00.000000000'
 '2018-08-13T00:00:00.000000000' '2020-02-28T00:00:00.000000000'
 '2017-04-20T00:00:00.000000000' '2017-04-21T00:00:00.000000000'
 '2020-02-03T00:00:00.000000000' '2019-02-28T00:00:00.000000000'
 '2020-02-04T00:00:00.000000000' '2019-02-27T00:00:00.000000000'
 '2020-02-05T00:00:00.000000000' '2019-02-26T00:00:00.000000000'
 '2019-02-25T00:00:00.000000000' '2019-02-22T00:00:00.000000000'
 '2019-02-21T00:00:00.000000000' '2019-02-20T00:00:00.000000000'
 '2020-02-10T00:00:00.000000000' '2020-02-11T00:00:00.000000000'
 '2020-02-12T00:00:00.000000000' '2020-02-13T00:00:00.000000000'
 '2020-02-14T00:00:00.000000000' '2018-08-29T00:00:00.000000000'
 '2018-08-27T00:00:00.000000000' '2018-08-28T00:00:00.000000000'
 '2018-08-30T00:00:00.000000000' '2018-08-31T00:00:00.000000000'
 '2020-02-06T00:00:00.000000000' '2020-02-07T00:00:00.000000000'
 '2020-12-29T00:00:00.000000000' '2020-12-28T00:00:00.000000000'
 '2020-12-30T00:00:00.000000000' '2020-12-31T00:00:00.000000000'
 '2020-12-18T00:00:00.000000000' '2020-12-16T00:00:00.000000000'
 '2020-12-17T00:00:00.000000000' '2020-12-23T00:00:00.000000000'
 '2020-12-24T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2020-12-21T00:00:00.000000000' '2020-12-22T00:00:00.000000000'
 '2017-04-26T00:00:00.000000000' '2017-04-27T00:00:00.000000000'
 '2020-12-09T00:00:00.000000000' '2017-04-28T00:00:00.000000000'
 '2020-12-07T00:00:00.000000000' '2020-12-08T00:00:00.000000000'
 '2017-04-24T00:00:00.000000000' '2017-04-25T00:00:00.000000000'
 '2018-11-01T00:00:00.000000000' '2018-11-02T00:00:00.000000000'
 '2019-04-01T00:00:00.000000000' '2019-04-02T00:00:00.000000000'
 '2019-04-03T00:00:00.000000000' '2019-04-04T00:00:00.000000000'
 '2019-04-05T00:00:00.000000000' '2020-12-14T00:00:00.000000000'
 '2018-11-09T00:00:00.000000000' '2020-12-15T00:00:00.000000000'
 '2019-04-08T00:00:00.000000000' '2018-11-07T00:00:00.000000000'
 '2019-04-09T00:00:00.000000000' '2018-11-08T00:00:00.000000000'
 '2020-12-10T00:00:00.000000000' '2018-11-05T00:00:00.000000000'
 '2020-12-11T00:00:00.000000000' '2018-11-06T00:00:00.000000000'
 '2019-04-10T00:00:00.000000000' '2019-04-11T00:00:00.000000000'
 '2019-04-12T00:00:00.000000000' '2019-04-15T00:00:00.000000000'
 '2019-04-16T00:00:00.000000000' '2020-12-03T00:00:00.000000000'
 '2019-04-17T00:00:00.000000000' '2020-12-04T00:00:00.000000000'
 '2019-04-18T00:00:00.000000000' '2020-12-01T00:00:00.000000000'
 '2020-12-02T00:00:00.000000000' '2017-06-28T00:00:00.000000000'
 '2017-06-29T00:00:00.000000000' '2017-06-26T00:00:00.000000000'
 '2017-06-27T00:00:00.000000000' '2019-04-30T00:00:00.000000000'
 '2019-04-22T00:00:00.000000000' '2019-04-23T00:00:00.000000000'
 '2019-04-24T00:00:00.000000000' '2019-04-25T00:00:00.000000000'
 '2019-04-26T00:00:00.000000000' '2019-04-29T00:00:00.000000000'
 '2017-06-30T00:00:00.000000000' '2017-06-06T00:00:00.000000000'
 '2020-10-29T00:00:00.000000000' '2017-06-07T00:00:00.000000000'
 '2017-06-08T00:00:00.000000000' '2017-06-09T00:00:00.000000000'
 '2020-10-26T00:00:00.000000000' '2017-06-02T00:00:00.000000000'
 '2020-10-28T00:00:00.000000000' '2020-10-27T00:00:00.000000000'
 '2017-06-05T00:00:00.000000000' '2018-06-15T00:00:00.000000000'
 '2018-06-14T00:00:00.000000000' '2018-06-13T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2018-06-12T00:00:00.000000000'
 '2018-06-19T00:00:00.000000000' '2018-06-18T00:00:00.000000000'
 '2018-06-22T00:00:00.000000000' '2018-06-21T00:00:00.000000000'
 '2018-06-20T00:00:00.000000000' '2017-06-12T00:00:00.000000000'
 '2020-10-30T00:00:00.000000000' '2020-10-19T00:00:00.000000000'
 '2017-06-19T00:00:00.000000000' '2020-10-15T00:00:00.000000000'
 '2017-06-13T00:00:00.000000000' '2020-10-14T00:00:00.000000000'
 '2017-06-14T00:00:00.000000000' '2017-06-15T00:00:00.000000000'
 '2020-10-16T00:00:00.000000000' '2017-06-16T00:00:00.000000000'
 '2018-06-04T00:00:00.000000000' '2018-06-01T00:00:00.000000000'
 '2018-06-08T00:00:00.000000000' '2018-06-07T00:00:00.000000000'
 '2018-06-06T00:00:00.000000000' '2018-06-05T00:00:00.000000000'
 '2018-06-11T00:00:00.000000000' '2020-10-22T00:00:00.000000000'
 '2017-06-20T00:00:00.000000000' '2020-10-21T00:00:00.000000000'
 '2017-06-21T00:00:00.000000000' '2017-06-22T00:00:00.000000000'
 '2020-10-23T00:00:00.000000000' '2017-06-23T00:00:00.000000000'
 '2020-10-20T00:00:00.000000000' '2020-10-08T00:00:00.000000000'
 '2017-08-09T00:00:00.000000000' '2020-10-07T00:00:00.000000000'
 '2020-09-18T00:00:00.000000000' '2017-08-08T00:00:00.000000000'
 '2020-09-17T00:00:00.000000000' '2020-10-09T00:00:00.000000000'
 '2020-09-16T00:00:00.000000000' '2017-08-04T00:00:00.000000000'
 '2020-10-06T00:00:00.000000000' '2017-08-07T00:00:00.000000000'
 '2020-10-05T00:00:00.000000000' '2020-09-11T00:00:00.000000000'
 '2020-09-10T00:00:00.000000000' '2020-09-15T00:00:00.000000000'
 '2020-09-14T00:00:00.000000000' '2019-06-10T00:00:00.000000000'
 '2019-06-03T00:00:00.000000000' '2019-06-05T00:00:00.000000000'
 '2019-06-04T00:00:00.000000000' '2019-06-07T00:00:00.000000000'
 '2019-06-06T00:00:00.000000000' '2017-08-11T00:00:00.000000000'
 '2020-10-13T00:00:00.000000000' '2017-08-14T00:00:00.000000000'
 '2020-10-12T00:00:00.000000000' '2017-08-10T00:00:00.000000000'
 '2020-09-29T00:00:00.000000000' '2020-09-28T00:00:00.000000000'
 '2017-08-16T00:00:00.000000000' '2017-08-15T00:00:00.000000000'
 '2017-08-18T00:00:00.000000000' '2017-08-17T00:00:00.000000000'
 '2020-09-22T00:00:00.000000000' '2018-06-26T00:00:00.000000000'
 '2020-09-21T00:00:00.000000000' '2018-06-25T00:00:00.000000000'
 '2020-09-25T00:00:00.000000000' '2018-06-29T00:00:00.000000000'
 '2020-09-24T00:00:00.000000000' '2019-06-21T00:00:00.000000000'
 '2018-06-28T00:00:00.000000000' '2020-09-23T00:00:00.000000000'
 '2019-06-20T00:00:00.000000000' '2018-06-27T00:00:00.000000000'
 '2019-06-12T00:00:00.000000000' '2019-06-11T00:00:00.000000000'
 '2019-06-14T00:00:00.000000000' '2019-06-13T00:00:00.000000000'
 '2019-06-18T00:00:00.000000000' '2019-06-17T00:00:00.000000000'
 '2017-08-23T00:00:00.000000000' '2019-06-19T00:00:00.000000000'
 '2017-08-22T00:00:00.000000000' '2020-10-02T00:00:00.000000000'
 '2017-08-25T00:00:00.000000000' '2020-10-01T00:00:00.000000000'
 '2017-08-24T00:00:00.000000000' '2017-08-21T00:00:00.000000000'
 '2019-06-25T00:00:00.000000000' '2018-08-01T00:00:00.000000000'
 '2019-06-24T00:00:00.000000000' '2018-08-02T00:00:00.000000000'
 '2019-06-27T00:00:00.000000000' '2019-06-26T00:00:00.000000000'
 '2019-06-28T00:00:00.000000000' '2020-09-08T00:00:00.000000000'
 '2020-09-09T00:00:00.000000000' '2020-09-04T00:00:00.000000000'
 '2020-09-03T00:00:00.000000000' '2020-09-02T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2017-08-01T00:00:00.000000000'
 '2017-08-03T00:00:00.000000000' '2017-08-02T00:00:00.000000000'
 '2017-09-18T00:00:00.000000000' '2017-09-19T00:00:00.000000000'
 '2020-07-30T00:00:00.000000000' '2020-07-31T00:00:00.000000000'
 '2017-10-02T00:00:00.000000000' '2017-10-03T00:00:00.000000000'
 '2017-09-25T00:00:00.000000000' '2017-10-04T00:00:00.000000000'
 '2017-09-26T00:00:00.000000000' '2017-10-05T00:00:00.000000000'
 '2017-10-06T00:00:00.000000000' '2017-09-21T00:00:00.000000000'
 '2017-09-22T00:00:00.000000000' '2017-10-09T00:00:00.000000000'
 '2017-09-20T00:00:00.000000000' '2018-02-28T00:00:00.000000000'
 '2018-02-27T00:00:00.000000000' '2017-09-29T00:00:00.000000000'
 '2017-09-27T00:00:00.000000000' '2017-09-28T00:00:00.000000000'
 '2018-02-20T00:00:00.000000000' '2018-02-22T00:00:00.000000000'
 '2018-02-21T00:00:00.000000000' '2019-08-01T00:00:00.000000000'
 '2018-02-23T00:00:00.000000000' '2018-02-26T00:00:00.000000000'
 '2017-10-10T00:00:00.000000000' '2017-10-11T00:00:00.000000000'
 '2017-10-12T00:00:00.000000000' '2017-10-13T00:00:00.000000000'
 '2017-10-16T00:00:00.000000000' '2017-10-17T00:00:00.000000000'
 '2017-10-18T00:00:00.000000000' '2017-10-19T00:00:00.000000000'
 '2020-07-16T00:00:00.000000000' '2020-07-17T00:00:00.000000000'
 '2021-02-12T00:00:00.000000000' '2020-07-14T00:00:00.000000000'
 '2020-07-15T00:00:00.000000000' '2021-02-10T00:00:00.000000000'
 '2021-02-11T00:00:00.000000000' '2020-07-13T00:00:00.000000000'
 '2019-08-12T00:00:00.000000000' '2020-07-10T00:00:00.000000000'
 '2019-08-05T00:00:00.000000000' '2019-08-02T00:00:00.000000000'
 '2019-08-08T00:00:00.000000000' '2019-08-09T00:00:00.000000000'
 '2019-08-06T00:00:00.000000000' '2019-08-07T00:00:00.000000000'
 '2021-02-09T00:00:00.000000000' '2017-09-01T00:00:00.000000000'
 '2021-02-08T00:00:00.000000000' '2021-02-05T00:00:00.000000000'
 '2021-02-03T00:00:00.000000000' '2020-07-27T00:00:00.000000000'
 '2021-02-04T00:00:00.000000000' '2020-07-28T00:00:00.000000000'
 '2021-02-01T00:00:00.000000000' '2021-02-02T00:00:00.000000000'
 '2017-09-07T00:00:00.000000000' '2017-09-08T00:00:00.000000000'
 '2020-07-29T00:00:00.000000000' '2017-09-05T00:00:00.000000000'
 '2017-09-06T00:00:00.000000000' '2020-07-20T00:00:00.000000000'
 '2020-07-23T00:00:00.000000000' '2019-08-22T00:00:00.000000000'
 '2020-07-24T00:00:00.000000000' '2019-08-23T00:00:00.000000000'
 '2020-07-21T00:00:00.000000000' '2019-08-20T00:00:00.000000000'
 '2020-07-22T00:00:00.000000000' '2019-08-21T00:00:00.000000000'
 '2019-08-15T00:00:00.000000000' '2019-08-16T00:00:00.000000000'
 '2019-08-13T00:00:00.000000000' '2019-08-14T00:00:00.000000000'
 '2019-08-19T00:00:00.000000000' '2017-09-14T00:00:00.000000000'
 '2017-09-15T00:00:00.000000000' '2017-09-12T00:00:00.000000000'
 '2017-09-13T00:00:00.000000000' '2017-09-11T00:00:00.000000000'
 '2018-04-18T00:00:00.000000000' '2018-04-19T00:00:00.000000000'
 '2018-04-12T00:00:00.000000000' '2019-08-30T00:00:00.000000000'
 '2018-04-13T00:00:00.000000000' '2018-04-10T00:00:00.000000000'
 '2018-04-11T00:00:00.000000000' '2018-04-16T00:00:00.000000000'
 '2018-04-17T00:00:00.000000000' '2019-08-26T00:00:00.000000000'
 '2019-08-27T00:00:00.000000000' '2018-04-20T00:00:00.000000000'
 '2019-08-28T00:00:00.000000000' '2019-08-29T00:00:00.000000000'
 '2018-04-09T00:00:00.000000000' '2020-07-06T00:00:00.000000000'
 '2020-07-09T00:00:00.000000000' '2020-07-07T00:00:00.000000000'
 '2020-07-08T00:00:00.000000000' '2018-04-02T00:00:00.000000000'
 '2020-07-01T00:00:00.000000000' '2018-04-05T00:00:00.000000000'

In [43]:
#Initialising blank new dataframe
col_stock_indicator = ['Date', 'Stock Indicator Present']
for i in stock_indicators['Description'].unique():
  col_stock_indicator.append(i)

new_stock_indicator = pd.DataFrame(columns = col_stock_indicator)
new_stock_indicator

Empty DataFrame
Columns: [Date, Stock Indicator Present, DOW JONES UTILITY AVERAGE, S&P 500, DOW JONES COMPOSITE AVERAGE, DOW JONES INDUSTRIAL AVERAGE, DOW JONES TRANSPORTATION AVERAGE]
Index: []

In [44]:
#Initialising the date range from the minimum to maximum date and the dummy variable
new_date_range = pd.date_range(start = min(stock_indicators['Date']), end = max(stock_indicators['Date']))
new_stock_indicator['Date'] = new_date_range
new_stock_indicator['Stock Indicator Present'] = 0
new_stock_indicator

           Date  ...  DOW JONES TRANSPORTATION AVERAGE
0    2017-04-04  ...                               NaN
1    2017-04-05  ...                               NaN
2    2017-04-06  ...                               NaN
3    2017-04-07  ...                               NaN
4    2017-04-08  ...                               NaN
...         ...  ...                               ...
1431 2021-03-05  ...                               NaN
1432 2021-03-06  ...                               NaN
1433 2021-03-07  ...                               NaN
1434 2021-03-08  ...                               NaN
1435 2021-03-09  ...                               NaN

[1436 rows x 7 columns]

In [45]:
#Entering the stock indices and indicators data in the new dataframe
for i in list(stock_indicators['Date'].unique()):
  ind = new_stock_indicator[new_stock_indicator['Date'] == i].index[0]
  temp_df = stock_indicators[stock_indicators['Date'] == i]
  for k in stock_indicators['Description'].unique():
    if temp_df[temp_df['Description'] == k]['Value'].values != None:
      new_stock_indicator[k][ind] = temp_df[temp_df['Description'] == k]['Value'].values[0]
  new_stock_indicator['Stock Indicator Present'][ind] = 1
new_stock_indicator

           Date  ...  DOW JONES TRANSPORTATION AVERAGE
0    2017-04-04  ...                           9100.67
1    2017-04-05  ...                           9095.98
2    2017-04-06  ...                           9134.17
3    2017-04-07  ...                           9104.81
4    2017-04-08  ...                               NaN
...         ...  ...                               ...
1431 2021-03-05  ...                             13628
1432 2021-03-06  ...                               NaN
1433 2021-03-07  ...                               NaN
1434 2021-03-08  ...                           13720.6
1435 2021-03-09  ...                           13786.8

[1436 rows x 7 columns]

In [46]:
#Handling the null values by replacing them with the previous day's values bu tnot changing the dummy variable value
col_list_partial = ['DOW JONES UTILITY AVERAGE',	'S&P 500',	'DOW JONES COMPOSITE AVERAGE',	'DOW JONES INDUSTRIAL AVERAGE',	'DOW JONES TRANSPORTATION AVERAGE']

for i in range(len(new_stock_indicator)):
  if new_stock_indicator['Stock Indicator Present'][i] == 0:
    for k in col_list_partial:
      new_stock_indicator[k][i] = new_stock_indicator[k][i-1]
    
new_stock_indicator

           Date  ...  DOW JONES TRANSPORTATION AVERAGE
0    2017-04-04  ...                           9100.67
1    2017-04-05  ...                           9095.98
2    2017-04-06  ...                           9134.17
3    2017-04-07  ...                           9104.81
4    2017-04-08  ...                           9104.81
...         ...  ...                               ...
1431 2021-03-05  ...                             13628
1432 2021-03-06  ...                             13628
1433 2021-03-07  ...                             13628
1434 2021-03-08  ...                           13720.6
1435 2021-03-09  ...                           13786.8

[1436 rows x 7 columns]

In [47]:
#Converting the dataframe to csv to download the data
new_stock_indicator.to_csv('new_stock_indicators.csv')

**Interest Rates**

In [48]:
#Importing dataset
interest_rates = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/interest_rates.csv')
interest_rates

      Value        Date  ...                          Indicator Subject
0      1.40  2014-12-31  ...  LONG-TERM INTEREST RATES FORECAST   TOTAL
1      9.19  1995-03-31  ...  LONG-TERM INTEREST RATES FORECAST   TOTAL
2      4.08  2007-03-31  ...  LONG-TERM INTEREST RATES FORECAST   TOTAL
3      3.84  2004-12-31  ...  LONG-TERM INTEREST RATES FORECAST   TOTAL
4      9.88  1992-12-31  ...  LONG-TERM INTEREST RATES FORECAST   TOTAL
...     ...         ...  ...                                ...     ...
2375   4.36  2008-06-30  ...          SHORT-TERM INTEREST RATES   TOTAL
2376   2.32  2001-12-31  ...          SHORT-TERM INTEREST RATES   TOTAL
2377   2.15  2002-03-31  ...          SHORT-TERM INTEREST RATES   TOTAL
2378   4.71  2013-06-30  ...          SHORT-TERM INTEREST RATES   TOTAL
2379   3.33  2007-09-30  ...          SHORT-TERM INTEREST RATES   TOTAL

[2380 rows x 10 columns]

In [49]:
#Converting the date from string format to datetime format
interest_rates['Date'] = pd.to_datetime(interest_rates['Date'])
interest_rates.dtypes

Value                  float64
Date            datetime64[ns]
Sub-Sector              object
Super Region            object
Measure                 object
Frequency               object
Region                  object
Source                  object
Indicator               object
Subject                 object
dtype: object

In [50]:
#Printing the unique values of all columns to see that which columns are needed to be handled for categorical value
for i in interest_rates.columns:
  print(i, interest_rates[i].unique(), sep = ':\t')

Value:	[ 1.400e+00  9.190e+00  4.080e+00  3.840e+00  9.880e+00  4.320e+00
  5.180e+00  2.140e+00  4.370e+00  4.070e+00  9.800e+00  8.710e+00
  1.030e+00  4.410e+00  1.710e+00  3.960e+00  4.960e+00  3.770e+00
  8.750e+00  5.110e+00  9.300e-01  4.270e+00  9.690e+00  4.140e+00
  5.270e+00  5.930e+00  3.660e+00  5.760e+00  1.040e+00  4.060e+00
  7.900e-01  4.020e+00  9.130e+00  8.500e-01  6.260e+00  1.610e+00
  3.360e+00  3.640e+00  6.250e+00  5.200e-01  4.170e+00  1.120e+00
  3.540e+00  4.190e+00  7.600e+00  4.220e+00  3.550e+00  3.380e+00
  8.020e+00  8.370e+00  7.550e+00  1.130e+00  5.350e+00  7.760e+00
  4.290e+00  1.460e+00  1.340e+00  3.680e+00  3.240e+00  5.620e+00
  6.560e+00  2.900e+00  4.560e+00  1.160e+00  1.060e+00  4.050e+00
  4.130e+00  1.070e+01  7.320e+00  1.640e+00  5.290e+00  1.180e+00
  9.500e-01  3.400e+00  1.500e+00  1.070e+00  4.360e+00  5.440e+00
  9.990e+00  1.019e+01  4.760e+00  3.970e+00  1.020e+00  7.950e+00
  9.200e-01  1.260e+00  3.890e+00  4.540e+00  3.100e+00  4.660e+00
  9.220e+00  5.260e+00  3.010e+00  4.280e+00  1.027e+01  7.130e+00
  2.840e+00  5.080e+00  7.120e+00  1.320e+00  8.800e+00  2.560e+00
  4.340e+00  3.600e+00  4.500e+00  4.770e+00  1.014e+01  2.670e+00
  4.460e+00  1.410e+00  5.730e+00  1.098e+01  6.210e+00  5.580e+00
  5.310e+00  5.850e+00  6.000e+00  6.310e+00  4.350e+00  6.510e+00
  6.030e+00  7.920e+00  8.400e+00  1.008e+01  8.640e+00  1.206e+01
  5.980e+00  1.134e+01  4.680e+00  7.380e+00  6.390e+00  1.038e+01
  5.640e+00  5.100e+00  6.120e+00  5.520e+00  6.930e+00  6.480e+00
  6.750e+00  7.470e+00  9.120e+00  7.350e+00  5.490e+00  7.050e+00
  8.110e+00  7.890e+00  6.890e+00  9.750e+00  8.780e+00  8.300e+00
  8.410e+00  6.770e+00  8.140e+00  8.550e+00  7.960e+00  7.280e+00
  1.205e+01  7.270e+00  8.730e+00  5.210e+00  1.270e+01  1.170e+01
  7.590e+00  1.100e+01  6.640e+00  8.350e+00  7.710e+00  7.740e+00
  1.351e+01  6.300e+00  7.900e+00  6.630e+00  1.277e+01  7.110e+00
  5.380e+00  8.030e+00  7.390e+00  6.200e+00  8.090e+00  7.620e+00
  7.040e+00  7.100e+00  1.142e+01  1.183e+01  7.800e+00  7.750e+00
  1.075e+01  1.369e+01  8.930e+00  1.220e+01  7.660e+00  8.040e+00
  1.131e+01  7.520e+00  7.500e+00  5.130e+00  1.076e+01  7.240e+00
  5.830e+00  7.910e+00  1.149e+01  7.170e+00  6.540e+00  8.200e+00
  6.670e+00  1.222e+01  7.370e+00  8.450e+00  7.540e+00  8.610e+00
  1.225e+01  1.164e+01  6.700e+00  7.610e+00  8.900e+00  9.180e+00
  7.870e+00  8.240e+00  8.260e+00  8.330e+00  7.490e+00  7.580e+00
  6.400e+00  8.000e-02  3.830e+00  2.180e+00  2.110e+00  4.600e+00
  3.000e-01  1.560e+00  1.111e+01  6.950e+00 -3.300e-01  1.600e-01
  3.230e+00  9.000e-01  6.450e+00  4.230e+00  1.099e+01  2.090e+00
  4.390e+00  4.420e+00  7.500e-01  4.610e+00 -2.600e-01 -3.100e-01
  2.800e-01  8.800e-01  2.150e+00  4.400e+00 -3.000e-01  2.170e+00
 -9.000e-02  2.620e+00  2.130e+00  1.090e+00  6.900e-01  6.320e+00
  6.520e+00  5.120e+00  2.830e+00 -3.000e-02  6.700e-01  4.620e+00
  2.100e-01  4.980e+00  3.290e+00 -3.200e-01  4.240e+00  2.710e+00
  1.121e+01  4.990e+00  5.040e+00 -1.000e-02 -1.900e-01  2.350e+00
  4.330e+00  1.086e+01  1.059e+01  3.390e+00  2.390e+00  6.470e+00
  5.000e-02  4.780e+00  2.040e+00  3.140e+00  2.000e-01  1.350e+00
  1.069e+01  7.000e-01  3.480e+00  2.200e-01  1.066e+01  7.510e+00
  2.400e-01  2.890e+00  6.940e+00 -1.200e-01  4.490e+00  9.100e+00
  4.740e+00  3.600e-01  4.860e+00  3.460e+00  1.204e+01  4.510e+00
  3.100e-01  9.890e+00  2.600e-01  3.900e-01  1.505e+01  6.060e+00
  5.320e+00  5.610e+00  5.650e+00  6.490e+00  5.190e+00  8.080e+00
  4.300e-01  1.620e+01  5.890e+00  5.500e+00  6.000e-01  2.810e+00
  1.236e+01  6.900e+00  7.860e+00  3.410e+00  8.060e+00  9.100e-01
  8.430e+00  6.800e-01  6.550e+00  1.187e+01  1.730e+00  5.070e+00
  6.220e+00  1.067e+01  3.490e+00  5.700e+00  8.970e+00  8.580e+00
  1.473e+01  3.790e+00  1.117e+01  6.920e+00  4.100e-01  1.091e+01
  6.080e+00  4.930e+00  3.440e+00  1.280e+00  1.688e+01  3.710e+00
  5.510e+00  5.740e+00  4.210e+00  1.770e+00  4.400e-01  3.500e-01
  4.310e+00  2.000e+00  3.800e+00  5.010e+00  6.150e+00  6.140e+00
  9.730e+00  6.810e+00  5.900e+00  4.700e+00  4.590e+00  7.460e+00
  5.330e+00  5.250e+00  6.660e+00  4.250e+00  5.550e+00  9.160e+00
  1.839e+01  4.600e-01  7.090e+00  7.180e+00  8.960e+00  5.530e+00
  2.500e-01  5.400e+00  8.980e+00  2.200e+00  3.200e+00  7.410e+00
  2.930e+00  1.077e+01  1.504e+01  1.860e+00  3.800e-01  6.240e+00
  2.270e+00  3.560e+00  5.000e+00  3.980e+00  1.190e+00  1.323e+01
  4.900e+00  5.230e+00  1.520e+00  4.800e-01  3.850e+00  5.770e+00
  1.255e+01  1.141e+01  5.540e+00  8.100e-01  9.780e+00  9.170e+00
  8.190e+00  5.340e+00  1.172e+01  8.650e+00  3.250e+00  3.530e+00
  5.810e+00  6.100e+00  1.035e+01  4.500e-01  3.750e+00  5.480e+00
  3.190e+00  2.680e+00  6.780e+00  9.950e+00  6.840e+00  9.860e+00
  5.680e+00  6.620e+00  7.700e-01  8.890e+00  4.180e+00  7.840e+00
  9.330e+00  6.590e+00  3.500e+00  4.730e+00  2.510e+00  3.220e+00
  8.340e+00  1.655e+01  1.870e+00  1.272e+01  5.220e+00  3.510e+00
  6.580e+00  1.433e+01  6.910e+00  7.160e+00  4.690e+00  3.350e+00
  6.050e+00  5.450e+00  1.800e+00  1.770e+01  6.860e+00  1.139e+01
  1.109e+01  1.700e-01  6.420e+00  1.096e+01  2.100e+00  7.600e-01
  1.050e+00  6.530e+00 -4.000e-01  6.500e+00  3.620e+00  8.170e+00
  3.650e+00  3.300e+00  2.720e+00  1.118e+01  5.050e+00  1.083e+01
  1.056e+01  2.400e+00  6.440e+00  4.790e+00  2.060e+00  1.370e+00
  1.063e+01  7.480e+00  9.070e+00  4.750e+00  3.470e+00  1.202e+01
  2.280e+00  3.870e+00  2.430e+00  1.393e+01  4.850e+00  8.050e+00
  3.520e+00  8.010e+00  7.300e+00  5.590e+00  7.360e+00  3.900e+00
  1.034e+01  2.240e+00  1.199e+01  2.790e+00  4.300e+00  8.490e+00
  6.600e+00  8.680e+00  2.190e+00  1.287e+01  4.820e+00  9.110e+00
  6.720e+00  6.290e+00  2.440e+00  1.158e+01  1.163e+01  1.045e+01
  7.210e+00  3.720e+00  7.260e+00  6.180e+00  3.920e+00  1.296e+01
  7.730e+00  4.120e+00  1.940e+00  2.860e+00  1.194e+01  1.900e+00
  2.760e+00  8.130e+00  4.260e+00  8.770e+00  7.080e+00  4.630e+00
  4.200e+00  3.310e+00  5.200e+00  2.650e+00  1.485e+01  1.820e+00
  6.850e+00  2.750e+00  5.880e+00  5.990e+00  8.910e+00  1.095e+01
  1.429e+01  6.740e+00  3.210e+00  2.260e+00  2.500e+00  9.760e+00
  7.330e+00  5.600e+00  4.470e+00  2.370e+00  2.050e+00  3.990e+00
  5.910e+00  1.312e+01  1.320e+01  4.580e+00  1.750e+00  1.174e+01
  8.420e+00  1.920e+00  5.460e+00  8.320e+00  8.820e+00  4.570e+00
  1.081e+01  4.160e+00  6.370e+00  4.030e+00  1.880e+00  2.220e+00
  6.340e+00  1.950e+00  3.860e+00  9.210e+00  7.190e+00  3.030e+00
  5.140e+00  7.310e+00  1.169e+01  6.020e+00  5.570e+00  8.560e+00
  1.054e+01  8.700e+00  2.920e+00  6.350e+00  7.670e+00  1.970e+00
  2.330e+00  2.740e+00  4.010e+00  6.280e+00  1.242e+01  1.048e+01
  4.670e+00  7.940e+00  6.070e+00  1.409e+01  8.880e+00  7.770e+00
  1.690e+00  1.375e+01  8.000e+00  8.670e+00  4.920e+00  4.830e+00
  9.000e+00  6.170e+00  7.420e+00  7.000e+00  8.500e+00  7.250e+00
  5.920e+00  6.330e+00  9.850e+00  4.380e+00  1.720e+00  4.970e+00
  5.750e+00  8.000e-01  1.400e-01  8.360e+00  7.720e+00  9.000e-02
  3.690e+00  1.150e+00  1.300e-01  3.670e+00  7.000e-02  9.980e+00
  1.020e+01  5.800e-01  8.700e-01  2.850e+00  5.090e+00  1.013e+01
  3.040e+00  3.930e+00  2.470e+00  2.910e+00  3.080e+00  8.600e-01
  3.630e+00  2.950e+00  6.500e-01  1.380e+00  2.640e+00  3.270e+00
  3.000e+00  1.790e+00  3.820e+00  2.160e+00  2.080e+00  7.140e+00
  6.380e+00  7.200e-01  4.430e+00  4.440e+00 -4.700e-01  2.610e+00
  2.120e+00  5.630e+00  6.690e+00  3.430e+00  2.630e+00 -4.100e-01
  6.600e-01  3.090e+00 -5.200e-01  5.020e+00  2.340e+00  2.360e+00
  3.590e+00  2.010e+00  3.110e+00  1.310e+00  3.940e+00  3.450e+00
  2.700e+00  4.480e+00  4.720e+00  9.040e+00  4.100e+00  1.100e-01
  2.900e-01  1.423e+01  6.010e+00  5.960e+00  3.880e+00  7.790e+00
  1.240e+00  3.300e-01  1.509e+01  5.860e+00  3.400e-01  2.780e+00
  1.094e+01  8.270e+00  5.710e+00  7.970e+00  1.144e+01  1.700e+00
  4.530e+00  5.720e+00  5.410e+00  1.006e+01  5.390e+00  8.620e+00
  8.440e+00  9.550e+00  1.366e+01  1.028e+01  2.820e+00  1.592e+01
  1.500e-01  9.680e+00  8.510e+00  1.900e-01  1.830e+00  4.910e+00
  1.760e+00  9.580e+00  4.940e+00  6.820e+00  2.300e-01  6.200e-01
  8.530e+00  2.520e+00  1.752e+01  3.280e+00  3.130e+00  3.340e+00
  7.220e+00  7.640e+00  1.424e+01  2.250e+00  1.250e+00  4.550e+00
  1.080e+00  1.203e+01  7.830e+00  4.200e-01  1.157e+01  5.600e-01
  9.390e+00  5.690e+00  1.029e+01  5.280e+00  1.090e+01  5.300e+00
  4.950e+00  8.600e+00  1.530e+00  3.740e+00  3.060e+00  9.600e+00
  2.540e+00  9.240e+00  6.710e+00  9.410e+00  5.060e+00  5.500e-01
  1.100e+00  6.570e+00  1.170e+00  7.680e+00  8.520e+00  9.370e+00
  1.490e+00  1.576e+01  1.147e+01  1.200e-01  1.345e+01  2.700e-01
  5.420e+00  1.675e+01  1.590e+00  1.368e+01  2.480e+00  1.452e+01
  9.560e+00  3.950e+00  9.720e+00  4.150e+00  1.209e+01  9.140e+00
  7.980e+00  1.079e+01  1.221e+01  8.150e+00  1.018e+01  1.009e+01
  1.313e+01  1.113e+01  8.470e+00  1.300e+00  1.336e+01  1.033e+01
 -5.000e-02  1.290e+00  3.420e+00  1.261e+01  7.850e+00  1.005e+01
  9.630e+00  7.930e+00  9.440e+00  1.031e+01  1.300e+01  1.110e+00
  1.522e+01  8.690e+00  9.430e+00  8.250e+00  8.990e+00  9.610e+00
  1.478e+01  2.870e+00  9.320e+00  1.001e+01  9.900e-01  1.427e+01
  9.900e+00  1.251e+01  9.400e-01  9.340e+00  9.770e+00  1.084e+01
  1.060e+01  8.310e+00  7.810e+00  1.470e+00  3.260e+00  9.400e+00
  1.044e+01  1.390e+00  8.720e+00  1.055e+01  1.309e+01  1.294e+01
  1.089e+01  8.380e+00  1.220e+00  9.420e+00  9.030e+00  1.284e+01
  1.022e+01  1.231e+01  6.970e+00  9.290e+00  1.510e+01  4.810e+00
  9.470e+00  1.010e+01  8.180e+00  7.780e+00  8.790e+00  5.950e+00
  7.400e+00  8.160e+00  7.690e+00  7.880e+00  8.220e+00  8.570e+00
  6.680e+00  7.150e+00  6.960e+00  1.229e+01  2.357e+01  5.970e+00
  2.067e+01  8.830e+00  9.970e+00  1.325e+01  1.997e+01  2.960e+01
  7.630e+00  1.949e+01  1.406e+01  1.259e+01  9.570e+00  3.430e+01
  1.150e+01  2.660e+01  2.290e+01  1.837e+01  1.218e+01  1.840e+01
  3.287e+01  4.520e+00  1.003e+01  8.230e+00  2.114e+01  1.208e+01
  2.900e+01  8.540e+00  2.737e+01  7.290e+00  7.700e+00  1.331e+01
  5.870e+00  1.803e+01  7.020e+00  4.870e+00  7.070e+00  1.107e+01
  1.420e+01  7.440e+00  1.057e+01  6.800e+00  6.230e+00  7.450e+00
  1.017e+01  6.190e+00  8.840e+00  5.560e+00  7.530e+00  6.110e+00
  8.850e+00  8.467e+01  9.068e+01  1.970e+01  1.133e+01  5.019e+01
  7.650e+00  9.816e+01  8.660e+00  1.115e+01  2.423e+01  7.010e+00
  2.254e+01  4.000e+01  1.625e+01  8.740e+00  1.047e+01  1.053e+01
  2.624e+01  1.460e+01  1.682e+01  1.211e+01  6.990e+00  8.460e+00
  7.599e+01  1.834e+01  6.980e+00  1.695e+01  1.563e+01  9.650e+00
  6.730e+00  2.690e+00  2.310e+00  2.770e+00  3.160e+00  2.550e+00
  5.660e+00  9.670e+00  8.760e+00  2.490e+00  2.460e+00  2.450e+00
  1.550e+00  4.040e+00  1.980e+00  5.360e+00  1.840e+00  2.990e+00
  1.740e+00  2.320e+00  4.710e+00  3.330e+00]
Date:	['2014-12-31T00:00:00.000000000' '1995-03-31T00:00:00.000000000'
 '2007-03-31T00:00:00.000000000' '2004-12-31T00:00:00.000000000'
 '1992-12-31T00:00:00.000000000' '2004-06-30T00:00:00.000000000'
 '2001-06-30T00:00:00.000000000' '2014-06-30T00:00:00.000000000'
 '2011-06-30T00:00:00.000000000' '2011-09-30T00:00:00.000000000'
 '1992-06-30T00:00:00.000000000' '1995-06-30T00:00:00.000000000'
 '2017-06-30T00:00:00.000000000' '2007-06-30T00:00:00.000000000'
 '2014-09-30T00:00:00.000000000' '2006-09-30T00:00:00.000000000'
 '2001-03-31T00:00:00.000000000' '2009-09-30T00:00:00.000000000'
 '1994-09-30T00:00:00.000000000' '1998-06-30T00:00:00.000000000'
 '2017-12-31T00:00:00.000000000' '2011-12-31T00:00:00.000000000'
 '1992-03-31T00:00:00.000000000' '2004-03-31T00:00:00.000000000'
 '1998-03-31T00:00:00.000000000' '1997-09-30T00:00:00.000000000'
 '2009-12-31T00:00:00.000000000' '1997-12-31T00:00:00.000000000'
 '2017-09-30T00:00:00.000000000' '2012-03-31T00:00:00.000000000'
 '2016-06-30T00:00:00.000000000' '2006-06-30T00:00:00.000000000'
 '1994-12-31T00:00:00.000000000' '2016-12-31T00:00:00.000000000'
 '1997-03-31T00:00:00.000000000' '2020-09-30T00:00:00.000000000'
 '2010-09-30T00:00:00.000000000' '2005-03-31T00:00:00.000000000'
 '1997-06-30T00:00:00.000000000' '2016-09-30T00:00:00.000000000'
 '2003-09-30T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2006-03-31T00:00:00.000000000' '2004-09-30T00:00:00.000000000'
 '1996-03-31T00:00:00.000000000' '2011-03-31T00:00:00.000000000'
 '2010-06-30T00:00:00.000000000' '2005-06-30T00:00:00.000000000'
 '1995-12-31T00:00:00.000000000' '1995-09-30T00:00:00.000000000'
 '1996-06-30T00:00:00.000000000' '2017-03-31T00:00:00.000000000'
 '1999-12-31T00:00:00.000000000' '1993-09-30T00:00:00.000000000'
 '1999-06-30T00:00:00.000000000' '2020-03-31T00:00:00.000000000'
 '2015-09-30T00:00:00.000000000' '2010-03-31T00:00:00.000000000'
 '2005-09-30T00:00:00.000000000' '2000-03-31T00:00:00.000000000'
 '1996-12-31T00:00:00.000000000' '2013-03-31T00:00:00.000000000'
 '2008-09-30T00:00:00.000000000' '1999-03-31T00:00:00.000000000'
 '2018-12-31T00:00:00.000000000' '2018-09-30T00:00:00.000000000'
 '2008-12-31T00:00:00.000000000' '2003-03-31T00:00:00.000000000'
 '1991-03-31T00:00:00.000000000' '1996-09-30T00:00:00.000000000'
 '2020-12-31T00:00:00.000000000' '2010-12-31T00:00:00.000000000'
 '2000-12-31T00:00:00.000000000' '2015-06-30T00:00:00.000000000'
 '2016-03-31T00:00:00.000000000' '2005-12-31T00:00:00.000000000'
 '2020-06-30T00:00:00.000000000' '2018-03-31T00:00:00.000000000'
 '2003-12-31T00:00:00.000000000' '2000-06-30T00:00:00.000000000'
 '1991-12-31T00:00:00.000000000' '1991-06-30T00:00:00.000000000'
 '2002-09-30T00:00:00.000000000' '2003-06-30T00:00:00.000000000'
 '2018-06-30T00:00:00.000000000' '1994-06-30T00:00:00.000000000'
 '2006-12-31T00:00:00.000000000' '2015-03-31T00:00:00.000000000'
 '2000-09-30T00:00:00.000000000' '2019-06-30T00:00:00.000000000'
 '2009-03-31T00:00:00.000000000' '2002-12-31T00:00:00.000000000'
 '2012-12-31T00:00:00.000000000' '2009-06-30T00:00:00.000000000'
 '1998-09-30T00:00:00.000000000' '1993-03-31T00:00:00.000000000'
 '2019-03-31T00:00:00.000000000' '2012-06-30T00:00:00.000000000'
 '2002-06-30T00:00:00.000000000' '2013-09-30T00:00:00.000000000'
 '1998-12-31T00:00:00.000000000' '1991-09-30T00:00:00.000000000'
 '1993-12-31T00:00:00.000000000' '2013-12-31T00:00:00.000000000'
 '1999-09-30T00:00:00.000000000' '1994-03-31T00:00:00.000000000'
 '2019-09-30T00:00:00.000000000' '2008-03-31T00:00:00.000000000'
 '1993-06-30T00:00:00.000000000' '2014-03-31T00:00:00.000000000'
 '2001-09-30T00:00:00.000000000' '2007-12-31T00:00:00.000000000'
 '2012-09-30T00:00:00.000000000' '2008-06-30T00:00:00.000000000'
 '2001-12-31T00:00:00.000000000' '2002-03-31T00:00:00.000000000'
 '1992-09-30T00:00:00.000000000' '2013-06-30T00:00:00.000000000'
 '2007-09-30T00:00:00.000000000' '2019-12-31T00:00:00.000000000'
 '1982-12-31T00:00:00.000000000' '1962-06-30T00:00:00.000000000'
 '1982-06-30T00:00:00.000000000' '1975-06-30T00:00:00.000000000'
 '1978-03-31T00:00:00.000000000' '1977-09-30T00:00:00.000000000'
 '1972-03-31T00:00:00.000000000' '1962-12-31T00:00:00.000000000'
 '1985-09-30T00:00:00.000000000' '1980-03-31T00:00:00.000000000'
 '1974-06-30T00:00:00.000000000' '1968-06-30T00:00:00.000000000'
 '1978-09-30T00:00:00.000000000' '1973-03-31T00:00:00.000000000'
 '1971-09-30T00:00:00.000000000' '1961-12-31T00:00:00.000000000'
 '1990-12-31T00:00:00.000000000' '1990-06-30T00:00:00.000000000'
 '1968-12-31T00:00:00.000000000' '1984-09-30T00:00:00.000000000'
 '1967-06-30T00:00:00.000000000' '1967-12-31T00:00:00.000000000'
 '1979-06-30T00:00:00.000000000' '1961-06-30T00:00:00.000000000'
 '1972-09-30T00:00:00.000000000' '1985-03-31T00:00:00.000000000'
 '1989-12-31T00:00:00.000000000' '1983-09-30T00:00:00.000000000'
 '1979-12-31T00:00:00.000000000' '1960-09-30T00:00:00.000000000'
 '1973-09-30T00:00:00.000000000' '1966-12-31T00:00:00.000000000'
 '1979-03-31T00:00:00.000000000' '1986-12-31T00:00:00.000000000'
 '1969-03-31T00:00:00.000000000' '1981-03-31T00:00:00.000000000'
 '1961-03-31T00:00:00.000000000' '1976-09-30T00:00:00.000000000'
 '1963-12-31T00:00:00.000000000' '1984-03-31T00:00:00.000000000'
 '1969-09-30T00:00:00.000000000' '1963-06-30T00:00:00.000000000'
 '1971-12-31T00:00:00.000000000' '1989-06-30T00:00:00.000000000'
 '1986-06-30T00:00:00.000000000' '1971-06-30T00:00:00.000000000'
 '1966-06-30T00:00:00.000000000' '1964-12-31T00:00:00.000000000'
 '1960-03-31T00:00:00.000000000' '1975-09-30T00:00:00.000000000'
 '1977-03-31T00:00:00.000000000' '1964-06-30T00:00:00.000000000'
 '1983-03-31T00:00:00.000000000' '1981-09-30T00:00:00.000000000'
 '1987-06-30T00:00:00.000000000' '1970-12-31T00:00:00.000000000'
 '1988-12-31T00:00:00.000000000' '1976-03-31T00:00:00.000000000'
 '1965-06-30T00:00:00.000000000' '1970-06-30T00:00:00.000000000'
 '1988-06-30T00:00:00.000000000' '1987-12-31T00:00:00.000000000'
 '1980-09-30T00:00:00.000000000' '1982-03-31T00:00:00.000000000'
 '1972-06-30T00:00:00.000000000' '1974-09-30T00:00:00.000000000'
 '1985-12-31T00:00:00.000000000' '1965-12-31T00:00:00.000000000'
 '1977-12-31T00:00:00.000000000' '1962-09-30T00:00:00.000000000'
 '1982-09-30T00:00:00.000000000' '1975-03-31T00:00:00.000000000'
 '1984-06-30T00:00:00.000000000' '1967-03-31T00:00:00.000000000'
 '1984-12-31T00:00:00.000000000' '1990-03-31T00:00:00.000000000'
 '1968-09-30T00:00:00.000000000' '1978-06-30T00:00:00.000000000'
 '1961-09-30T00:00:00.000000000' '1974-03-31T00:00:00.000000000'
 '1960-12-31T00:00:00.000000000' '1978-12-31T00:00:00.000000000'
 '1985-06-30T00:00:00.000000000' '1979-09-30T00:00:00.000000000'
 '1973-06-30T00:00:00.000000000' '1968-03-31T00:00:00.000000000'
 '1972-12-31T00:00:00.000000000' '1967-09-30T00:00:00.000000000'
 '1962-03-31T00:00:00.000000000' '1963-09-30T00:00:00.000000000'
 '1969-12-31T00:00:00.000000000' '1989-03-31T00:00:00.000000000'
 '1976-12-31T00:00:00.000000000' '1966-09-30T00:00:00.000000000'
 '1986-09-30T00:00:00.000000000' '1973-12-31T00:00:00.000000000'
 '1983-12-31T00:00:00.000000000' '1971-03-31T00:00:00.000000000'
 '1966-03-31T00:00:00.000000000' '1989-09-30T00:00:00.000000000'
 '1960-06-30T00:00:00.000000000' '1986-03-31T00:00:00.000000000'
 '1983-06-30T00:00:00.000000000' '1963-03-31T00:00:00.000000000'
 '1990-09-30T00:00:00.000000000' '1970-09-30T00:00:00.000000000'
 '1969-06-30T00:00:00.000000000' '1970-03-31T00:00:00.000000000'
 '1965-09-30T00:00:00.000000000' '1974-12-31T00:00:00.000000000'
 '1987-03-31T00:00:00.000000000' '1988-09-30T00:00:00.000000000'
 '1980-12-31T00:00:00.000000000' '1964-03-31T00:00:00.000000000'
 '1977-06-30T00:00:00.000000000' '1980-06-30T00:00:00.000000000'
 '1975-12-31T00:00:00.000000000' '1981-12-31T00:00:00.000000000'
 '1964-09-30T00:00:00.000000000' '1988-03-31T00:00:00.000000000'
 '1987-09-30T00:00:00.000000000' '1965-03-31T00:00:00.000000000'
 '1976-06-30T00:00:00.000000000' '1981-06-30T00:00:00.000000000'
 '1955-06-30T00:00:00.000000000' '1958-03-31T00:00:00.000000000'
 '1957-09-30T00:00:00.000000000' '1957-03-31T00:00:00.000000000'
 '1954-12-31T00:00:00.000000000' '1955-12-31T00:00:00.000000000'
 '1956-06-30T00:00:00.000000000' '1956-12-31T00:00:00.000000000'
 '1959-12-31T00:00:00.000000000' '1953-09-30T00:00:00.000000000'
 '1958-06-30T00:00:00.000000000' '1958-12-31T00:00:00.000000000'
 '1954-03-31T00:00:00.000000000' '1959-06-30T00:00:00.000000000'
 '1957-06-30T00:00:00.000000000' '1954-09-30T00:00:00.000000000'
 '1957-12-31T00:00:00.000000000' '1955-03-31T00:00:00.000000000'
 '1955-09-30T00:00:00.000000000' '1956-03-31T00:00:00.000000000'
 '1959-03-31T00:00:00.000000000' '1953-12-31T00:00:00.000000000'
 '1956-09-30T00:00:00.000000000' '1954-06-30T00:00:00.000000000'
 '1958-09-30T00:00:00.000000000' '1959-09-30T00:00:00.000000000'
 '1953-06-30T00:00:00.000000000']
Sub-Sector:	['INTEREST RATES']
Super Region:	['GLOBAL DATA']
Measure:	['PERCENT PER ANNUM']
Frequency:	['Q']
Region:	['EURO AREA(16 COUNTRIES)' 'CHINA' 'INDIA' 'UNITED STATES'

In [51]:
#Initialising blank new dataframe
col_interest_rates = ['Date', 'Interest Rate Present']
for i in interest_rates['Region'].unique():
  for j in interest_rates['Indicator'].unique():
    col_interest_rates.append(i + '_' + j)

new_interest_rates = pd.DataFrame(columns = col_interest_rates)
new_interest_rates

Empty DataFrame
Columns: [Date, Interest Rate Present, EURO AREA(16 COUNTRIES)_LONG-TERM INTEREST RATES FORECAST, EURO AREA(16 COUNTRIES)_SHORT-TERM INTEREST RATES FORECAST, EURO AREA(16 COUNTRIES)_LONG-TERM INTEREST RATES, EURO AREA(16 COUNTRIES)_SHORT-TERM INTEREST RATES, CHINA_LONG-TERM INTEREST RATES FORECAST, CHINA_SHORT-TERM INTEREST RATES FORECAST, CHINA_LONG-TERM INTEREST RATES, CHINA_SHORT-TERM INTEREST RATES, INDIA_LONG-TERM INTEREST RATES FORECAST, INDIA_SHORT-TERM INTEREST RATES FORECAST, INDIA_LONG-TERM INTEREST RATES, INDIA_SHORT-TERM INTEREST RATES, UNITED STATES_LONG-TERM INTEREST RATES FORECAST, UNITED STATES_SHORT-TERM INTEREST RATES FORECAST, UNITED STATES_LONG-TERM INTEREST RATES, UNITED STATES_SHORT-TERM INTEREST RATES, EURO AREA(17 COUNTRIES)_LONG-TERM INTEREST RATES FORECAST, EURO AREA(17 COUNTRIES)_SHORT-TERM INTEREST RATES FORECAST, EURO AREA(17 COUNTRIES)_LONG-TERM INTEREST RATES, EURO AREA(17 COUNTRIES)_SHORT-TERM INTEREST RATES, EURO AREA(19 COUNTRIES)_LONG-TERM INTEREST RATES FORECAST, EURO AREA(19 COUNTRIES)_SHORT-TERM INTEREST RATES FORECAST, EURO AREA(19 COUNTRIES)_LONG-TERM INTEREST RATES, EURO AREA(19 COUNTRIES)_SHORT-TERM INTEREST RATES, RUSSIA_LONG-TERM INTEREST RATES FORECAST, RUSSIA_SHORT-TERM INTEREST RATES FORECAST, RUSSIA_LONG-TERM INTEREST RATES, RUSSIA_SHORT-TERM INTEREST RATES]
Index: []

In [52]:
#Initialising the date range from the minimum to maximum date and the dummy variable
new_date_range = pd.date_range(start = min(interest_rates['Date']), end = max(interest_rates['Date']))
new_interest_rates['Date'] = new_date_range
new_interest_rates['Interest Rate Present'] = 0
new_interest_rates

            Date  ...  RUSSIA_SHORT-TERM INTEREST RATES
0     1953-06-30  ...                               NaN
1     1953-07-01  ...                               NaN
2     1953-07-02  ...                               NaN
3     1953-07-03  ...                               NaN
4     1953-07-04  ...                               NaN
...          ...  ...                               ...
24652 2020-12-27  ...                               NaN
24653 2020-12-28  ...                               NaN
24654 2020-12-29  ...                               NaN
24655 2020-12-30  ...                               NaN
24656 2020-12-31  ...                               NaN

[24657 rows x 30 columns]

In [53]:
#Entering the interest rates data in the new dataframe
for i in list(interest_rates['Date'].unique()):
  ind = new_interest_rates[new_interest_rates['Date'] == i].index[0]
  temp_df = interest_rates[interest_rates['Date'] == i]
  data = dict.fromkeys(col_interest_rates)
  data['Date'] = i
  for j in temp_df.index:
    col_name = temp_df['Region'][j] + '_' + temp_df['Indicator'][j]
    data[col_name] = temp_df['Value'][j]
    
  ind = new_interest_rates[new_interest_rates['Date'] == i].index
  new_interest_rates.loc[ind] = data.values()
  new_interest_rates['Interest Rate Present'][ind] = 1
new_interest_rates

            Date  ...  RUSSIA_SHORT-TERM INTEREST RATES
0     1953-06-30  ...                              None
1     1953-07-01  ...                              None
2     1953-07-02  ...                              None
3     1953-07-03  ...                              None
4     1953-07-04  ...                              None
...          ...  ...                               ...
24652 2020-12-27  ...                               NaN
24653 2020-12-28  ...                               NaN
24654 2020-12-29  ...                               NaN
24655 2020-12-30  ...                               NaN
24656 2020-12-31  ...                               NaN

[24657 rows x 30 columns]

In [54]:
#Converting the dataframe to csv to download the data
new_interest_rates.to_csv('new_interest_rates.csv')

**Energy Futures**

In [55]:
#Importing the energy futures dataset
energy_fut_price = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/energy_futures_price.csv')
energy_fut_price

      Value  ...                                Product Description
0     -3.40  ...  CRUDE DIFF - WTI 1ST LINE VS BRENT 1ST LINE FU...
1     -3.48  ...  CRUDE DIFF - WTI 1ST LINE VS BRENT 1ST LINE FU...
2     -3.38  ...  CRUDE DIFF - WTI 1ST LINE VS BRENT 1ST LINE FU...
3     -3.38  ...  CRUDE DIFF - WTI 1ST LINE VS BRENT 1ST LINE FU...
4     -3.39  ...  CRUDE DIFF - WTI 1ST LINE VS BRENT 1ST LINE FU...
...     ...  ...                                                ...
5312   7.58  ...  GASOLINE CRACK - ARGUS EUROBOB NON-OXY FOB ROT...
5313   8.34  ...  GASOLINE CRACK - ARGUS EUROBOB NON-OXY FOB ROT...
5314   8.07  ...  GASOLINE CRACK - ARGUS EUROBOB NON-OXY FOB ROT...
5315   8.49  ...  GASOLINE CRACK - ARGUS EUROBOB NON-OXY FOB ROT...
5316   8.38  ...  GASOLINE CRACK - ARGUS EUROBOB NON-OXY FOB ROT...

[5317 rows x 13 columns]

In [56]:
#Converting the date from string to datetime format
energy_fut_price['Date'] = pd.to_datetime(energy_fut_price['Date'])
energy_fut_price.dtypes

Value                         float64
Date                   datetime64[ns]
Product Id                      int64
ProductID_Contract             object
Exchange City                  object
Super Region                   object
Time Level                     object
Unit                           object
Source                         object
Sub-Sector                     object
Product Type                   object
Exchange Country               object
Product Description            object
dtype: object

In [57]:
#Dropping the extra columns
energy_fut_price_drop = energy_fut_price.drop(columns=['Super Region', 'Time Level', 'Unit','Source','Exchange City','Sub-Sector','Product Type','Product Id','Product Description'])
energy_fut_price_drop

      Value       Date ProductID_Contract Exchange Country
0     -3.40 2021-03-05         1465_APR22   UNITED KINGDOM
1     -3.48 2021-03-04         1465_APR22   UNITED KINGDOM
2     -3.38 2021-01-25         1465_APR22   UNITED KINGDOM
3     -3.38 2021-03-03         1465_APR22   UNITED KINGDOM
4     -3.39 2021-01-22         1465_APR22   UNITED KINGDOM
...     ...        ...                ...              ...
5312   7.58 2020-12-04        21766_APR22   UNITED KINGDOM
5313   8.34 2021-01-28        21766_APR22   UNITED KINGDOM
5314   8.07 2021-01-29        21766_APR22   UNITED KINGDOM
5315   8.49 2021-01-26        21766_APR22   UNITED KINGDOM
5316   8.38 2021-01-27        21766_APR22   UNITED KINGDOM

[5317 rows x 4 columns]

In [58]:
#Printing the unique values of all remaining columns to see which labels need to be handled
for i in energy_fut_price_drop.columns:
  print(i, energy_fut_price_drop[i].unique(), sep = ':\t')

Value:	[-3.4  -3.48 -3.38 ...  8.23  8.07  8.49]
Date:	['2021-03-05T00:00:00.000000000' '2021-03-04T00:00:00.000000000'
 '2021-01-25T00:00:00.000000000' '2021-03-03T00:00:00.000000000'
 '2021-01-22T00:00:00.000000000' '2021-03-02T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-01-20T00:00:00.000000000'
 '2020-12-29T00:00:00.000000000' '2021-01-21T00:00:00.000000000'
 '2020-12-28T00:00:00.000000000' '2021-01-19T00:00:00.000000000'
 '2021-01-18T00:00:00.000000000' '2021-01-15T00:00:00.000000000'
 '2020-12-30T00:00:00.000000000' '2020-12-31T00:00:00.000000000'
 '2021-02-25T00:00:00.000000000' '2021-01-13T00:00:00.000000000'
 '2021-02-26T00:00:00.000000000' '2021-01-14T00:00:00.000000000'
 '2021-02-23T00:00:00.000000000' '2021-01-11T00:00:00.000000000'
 '2021-02-24T00:00:00.000000000' '2021-01-12T00:00:00.000000000'
 '2020-12-18T00:00:00.000000000' '2021-02-22T00:00:00.000000000'
 '2020-12-16T00:00:00.000000000' '2020-12-17T00:00:00.000000000'
 '2021-01-08T00:00:00.000000000' '2020-12-23T00:00:00.000000000'
 '2020-12-24T00:00:00.000000000' '2021-02-18T00:00:00.000000000'
 '2021-01-06T00:00:00.000000000' '2020-12-21T00:00:00.000000000'
 '2021-02-19T00:00:00.000000000' '2021-01-07T00:00:00.000000000'
 '2020-12-22T00:00:00.000000000' '2021-02-16T00:00:00.000000000'
 '2021-01-04T00:00:00.000000000' '2021-02-17T00:00:00.000000000'
 '2021-01-05T00:00:00.000000000' '2021-02-15T00:00:00.000000000'
 '2021-02-12T00:00:00.000000000' '2020-12-09T00:00:00.000000000'
 '2021-02-10T00:00:00.000000000' '2021-02-11T00:00:00.000000000'
 '2020-12-14T00:00:00.000000000' '2020-12-15T00:00:00.000000000'
 '2021-02-09T00:00:00.000000000' '2020-12-10T00:00:00.000000000'
 '2021-02-08T00:00:00.000000000' '2020-12-11T00:00:00.000000000'
 '2021-02-05T00:00:00.000000000' '2021-02-03T00:00:00.000000000'
 '2021-02-04T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-02-02T00:00:00.000000000' '2021-01-28T00:00:00.000000000'
 '2021-01-29T00:00:00.000000000' '2021-01-26T00:00:00.000000000'
 '2021-01-27T00:00:00.000000000' '2020-12-07T00:00:00.000000000'
 '2020-12-08T00:00:00.000000000' '2021-03-08T00:00:00.000000000'
 '2020-12-04T00:00:00.000000000']
ProductID_Contract:	['1465_APR22' '365_APR22' '22312_Q2 21' '4173_APR22' '425_OCT22'
 '3432_FEB22' '3970_APR22' '491_MAY22' '1887_Q4 21' '95_APR22'
 '5740_APR22' '2527_SEP21' '1886_APR22' '1753_APR22' '5739_APR22'
 '23416_APR22' '5629_APR22' '5028_APR22' '10_APR22' '21774_APR22'
 '19237_APR22' '4362_APR22' '19327_APR22' '1885_APR22' '23493_SEP21'
 '2572_APR22' '5506_SEP21' '19241_APR22' '18399_APR22' '3190_APR22'
 '15544_APR22' '5038_APR22' '23612_APR22' '3976_APR22' '3253_APR22'
 '3563_APR22' '25743_APR22' '1887_APR22' '4075_APR22' '4361_APR22'
 '4177_APR22' '2571_APR22' '5631_APR22' '5039_APR22' '23414_APR22'
 '4987_AUG21' '3558_APR22' '2537_SEP21' '4178_Q3 21' '19082_APR22'
 '18410_APR22' '15542_APR22' '5500_SEP21' '2536_SEP21' '2532_SEP21'
 '4360_APR22' '3193_APR22' '5264_APR22' '124_APR22' '1743_APR22'
 '4671_APR22' '3072_APR22' '2529_SEP21' '22317_MAR22' '4672_APR22'
 '5034_APR22' '23607_APR22' '3442_APR22' '23776_APR22' '2466_APR22'
 '20096_APR22' '1756_AUG21' '13_APR22' '1884_APR22' '3971_APR22'
 '5509_SEP21' '5040_APR22' '2533_SEP21' '23490_SEP21' '5272_APR22'
 '3254_APR22' '5729_APR22' '19239_APR22' '5037_APR22' '22311_DEC22'
 '3441_APR22' '22_APR22' '491_SEP22' '2922_APR22' '5278_APR22'
 '19474_APR22' '19465_APR22' '15549_APR22' '19087_APR22' '18601_APR22'
 '3090_APR22' '23789_APR22' '21781_APR22' '4354_APR22' '21766_APR22']
Exchange Country:	['UNITED KINGDOM' 'SINGAPORE']

In [59]:
#Creating a temporary dataframe to filter out the actually needed data
experiment_df = energy_fut_price_drop[['Date', 'Value', 'ProductID_Contract']]
experiment_df

           Date  Value ProductID_Contract
0    2021-03-05  -3.40         1465_APR22
1    2021-03-04  -3.48         1465_APR22
2    2021-01-25  -3.38         1465_APR22
3    2021-03-03  -3.38         1465_APR22
4    2021-01-22  -3.39         1465_APR22
...         ...    ...                ...
5312 2020-12-04   7.58        21766_APR22
5313 2021-01-28   8.34        21766_APR22
5314 2021-01-29   8.07        21766_APR22
5315 2021-01-26   8.49        21766_APR22
5316 2021-01-27   8.38        21766_APR22

[5317 rows x 3 columns]

In [60]:
#Creating a blank new dataframe 
col_energy_fut = ['Date', 'Energy Futures Present']
for i in experiment_df['ProductID_Contract'].unique():
  col_fin_st.append(i)

new_energy_futures = pd.DataFrame(columns = col_fin_st)
new_energy_futures

Empty DataFrame
Columns: [Date, Financial Statement Present, NET PROFIT MARGIN, GROSS MARGIN, INTEREST EXPENSE, REVENUE, EBITDA MARGIN, DIVIDEND PER SHARE, INCOME TAX EXPENSE, 1465_APR22, 365_APR22, 22312_Q2 21, 4173_APR22, 425_OCT22, 3432_FEB22, 3970_APR22, 491_MAY22, 1887_Q4 21, 95_APR22, 5740_APR22, 2527_SEP21, 1886_APR22, 1753_APR22, 5739_APR22, 23416_APR22, 5629_APR22, 5028_APR22, 10_APR22, 21774_APR22, 19237_APR22, 4362_APR22, 19327_APR22, 1885_APR22, 23493_SEP21, 2572_APR22, 5506_SEP21, 19241_APR22, 18399_APR22, 3190_APR22, 15544_APR22, 5038_APR22, 23612_APR22, 3976_APR22, 3253_APR22, 3563_APR22, 25743_APR22, 1887_APR22, 4075_APR22, 4361_APR22, 4177_APR22, 2571_APR22, 5631_APR22, 5039_APR22, 23414_APR22, 4987_AUG21, 3558_APR22, 2537_SEP21, 4178_Q3 21, 19082_APR22, 18410_APR22, 15542_APR22, 5500_SEP21, 2536_SEP21, 2532_SEP21, 4360_APR22, 3193_APR22, 5264_APR22, 124_APR22, 1743_APR22, 4671_APR22, 3072_APR22, 2529_SEP21, 22317_MAR22, 4672_APR22, 5034_APR22, 23607_APR22, 3442_APR22, 23776_APR22, 2466_APR22, 20096_APR22, 1756_AUG21, 13_APR22, 1884_APR22, 3971_APR22, 5509_SEP21, 5040_APR22, 2533_SEP21, 23490_SEP21, 5272_APR22, 3254_APR22, 5729_APR22, 19239_APR22, 5037_APR22, 22311_DEC22, 3441_APR22, 22_APR22, 491_SEP22, 2922_APR22, 5278_APR22, 19474_APR22, ...]
Index: []

[0 rows x 109 columns]

In [61]:
#Initialising the dates for the energy futures with all dates in the all quarters mentioned in the dataset
ending_date = min(energy_fut_price_drop['Date'])
#Taking the first quarter into the account as well
starting_date = pd.to_datetime('-'.join([str(ending_date.year), str(ending_date.month-2), '01']))
new_date_range = pd.date_range(start = starting_date, end = max(experiment_df['Date']))
new_energy_futures['Date'] = new_date_range
new_energy_futures

          Date Financial Statement Present  ... 4354_APR22 21766_APR22
0   2020-10-01                         NaN  ...        NaN         NaN
1   2020-10-02                         NaN  ...        NaN         NaN
2   2020-10-03                         NaN  ...        NaN         NaN
3   2020-10-04                         NaN  ...        NaN         NaN
4   2020-10-05                         NaN  ...        NaN         NaN
..         ...                         ...  ...        ...         ...
154 2021-03-04                         NaN  ...        NaN         NaN
155 2021-03-05                         NaN  ...        NaN         NaN
156 2021-03-06                         NaN  ...        NaN         NaN
157 2021-03-07                         NaN  ...        NaN         NaN
158 2021-03-08                         NaN  ...        NaN         NaN

[159 rows x 109 columns]

In [62]:
#Creating list of unique dates in the dataset
date_list_energy_fut = experiment_df['Date'].unique()
date_list_energy_fut

array(['2021-03-05T00:00:00.000000000', '2021-03-04T00:00:00.000000000',
       '2021-01-25T00:00:00.000000000', '2021-03-03T00:00:00.000000000',
       '2021-01-22T00:00:00.000000000', '2021-03-02T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2021-01-20T00:00:00.000000000',
       '2020-12-29T00:00:00.000000000', '2021-01-21T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2021-01-19T00:00:00.000000000',
       '2021-01-18T00:00:00.000000000', '2021-01-15T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2021-01-13T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2021-01-14T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2021-01-11T00:00:00.000000000',
       '2021-02-24T00:00:00.000000000', '2021-01-12T00:00:00.000000000',
       '2020-12-18T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2020-12-16T00:00:00.000000000', '2020-12-17T00:00:00.000000000',
       '2021-01-08T00:00:00.000000000', '2020-12-23T00:00:00.000000000',
       '2020-12-24T00:00:00.000000000', '2021-02-18T00:00:00.000000000',
       '2021-01-06T00:00:00.000000000', '2020-12-21T00:00:00.000000000',
       '2021-02-19T00:00:00.000000000', '2021-01-07T00:00:00.000000000',
       '2020-12-22T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-01-04T00:00:00.000000000', '2021-02-17T00:00:00.000000000',
       '2021-01-05T00:00:00.000000000', '2021-02-15T00:00:00.000000000',
       '2021-02-12T00:00:00.000000000', '2020-12-09T00:00:00.000000000',
       '2021-02-10T00:00:00.000000000', '2021-02-11T00:00:00.000000000',
       '2020-12-14T00:00:00.000000000', '2020-12-15T00:00:00.000000000',
       '2021-02-09T00:00:00.000000000', '2020-12-10T00:00:00.000000000',
       '2021-02-08T00:00:00.000000000', '2020-12-11T00:00:00.000000000',
       '2021-02-05T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2021-01-28T00:00:00.000000000',
       '2021-01-29T00:00:00.000000000', '2021-01-26T00:00:00.000000000',
       '2021-01-27T00:00:00.000000000', '2020-12-07T00:00:00.000000000',
       '2020-12-08T00:00:00.000000000', '2021-03-08T00:00:00.000000000',
       '2020-12-04T00:00:00.000000000'], dtype='datetime64[ns]')

In [63]:
#Entering the actual data in the new dataframe
for i in pd.to_datetime(date_list_energy_fut):
  data = dict.fromkeys(new_energy_futures)
  data['Date'] = i  
  temp_df = experiment_df[experiment_df['Date'] == i] 
  
  for j in temp_df.index:
    data[temp_df.loc[j]['ProductID_Contract']] = temp_df.loc[j]['Value']
  ind = new_energy_futures[new_energy_futures['Date'] == i].index[0]
  for k in data.keys():
    new_energy_futures[k][ind] = data[k]
new_energy_futures

          Date Financial Statement Present  ... 4354_APR22 21766_APR22
0   2020-10-01                         NaN  ...        NaN         NaN
1   2020-10-02                         NaN  ...        NaN         NaN
2   2020-10-03                         NaN  ...        NaN         NaN
3   2020-10-04                         NaN  ...        NaN         NaN
4   2020-10-05                         NaN  ...        NaN         NaN
..         ...                         ...  ...        ...         ...
154 2021-03-04                        None  ...      69.97        9.17
155 2021-03-05                        None  ...      70.38        9.62
156 2021-03-06                         NaN  ...        NaN         NaN
157 2021-03-07                         NaN  ...        NaN         NaN
158 2021-03-08                        None  ...       None        None

[159 rows x 109 columns]

In [64]:
#Converting the dataframe to csv to download
new_energy_futures.to_csv('new_energy_futures.csv')

**Commodity Prices**

In [66]:
# import commodity prices dataset from the DATA given
commodity_prices = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/commodity_prices.csv')
commodity_prices

          Value        Date  ...              Source                Indicator
0      393834.0  2020-08-07  ...  COMMODITY EXCHANGE                   VOLUME
1      865736.0  2018-03-07  ...  COMMODITY EXCHANGE                   VOLUME
2      345299.0  2021-01-25  ...  COMMODITY EXCHANGE                   VOLUME
3      353417.0  2020-08-06  ...  COMMODITY EXCHANGE                   VOLUME
4      626407.0  2018-03-06  ...  COMMODITY EXCHANGE                   VOLUME
...         ...         ...  ...                 ...                      ...
16995  465881.0  2019-07-05  ...  COMMODITY EXCHANGE  PREV# DAY OPEN INTEREST
16996  463509.0  2019-07-08  ...  COMMODITY EXCHANGE  PREV# DAY OPEN INTEREST
16997  295191.0  2018-07-20  ...  COMMODITY EXCHANGE  PREV# DAY OPEN INTEREST
16998  444816.0  2019-07-09  ...  COMMODITY EXCHANGE  PREV# DAY OPEN INTEREST
16999  535856.0  2017-07-31  ...  COMMODITY EXCHANGE  PREV# DAY OPEN INTEREST

[17000 rows x 8 columns]

In [67]:
commodity_prices['Super Region'].unique()

array(['GLOBAL DATA'], dtype=object)

In [68]:
# Drop unnecessary columns
commodity_prices.drop(columns=['Sub-Sector', 'Super Region', 'Frequency', 'Source'], inplace=True)
commodity_prices.dtypes

Value                     float64
Date                       object
Commodity And Exchange     object
Indicator                  object
dtype: object

In [69]:
# Change object(Date) to Datetime(Date)
commodity_prices['Date_X'] = commodity_prices['Date']
commodity_prices['Date_X'] = pd.to_datetime(commodity_prices['Date_X'])
commodity_prices.drop(columns=['Date'], inplace=True)
commodity_prices.dtypes

Value                            float64
Commodity And Exchange            object
Indicator                         object
Date_X                    datetime64[ns]
dtype: object

In [70]:
commodity_prices

          Value  ...     Date_X
0      393834.0  ... 2020-08-07
1      865736.0  ... 2018-03-07
2      345299.0  ... 2021-01-25
3      353417.0  ... 2020-08-06
4      626407.0  ... 2018-03-06
...         ...  ...        ...
16995  465881.0  ... 2019-07-05
16996  463509.0  ... 2019-07-08
16997  295191.0  ... 2018-07-20
16998  444816.0  ... 2019-07-09
16999  535856.0  ... 2017-07-31

[17000 rows x 4 columns]

In [71]:
commodity_prices['Commodity And Exchange'].unique()

array(['NYMEX CRUDE OIL FUTURES', 'ICE BRENT CRUDE OIL FUTURES',
       'BRENT CRUDE OIL (DOLLARS PER BARREL)',
       'WTI CRUDE OIL (DOLLARS PER BARREL)'], dtype=object)

In [72]:
commodity_prices['Indicator'].unique()

array(['VOLUME', 'PREVIOUS DAY OPEN INTEREST', 'SETTLE', 'LOW', 'CHANGE',
       'HIGH', 'LAST', 'OPEN', 'PRICE IN USD', 'PREV# DAY OPEN INTEREST'],
      dtype=object)

In [73]:
df = pd.DataFrame(commodity_prices['Date'].unique())
df

KeyError: ignored

In [ ]:
min(commodity_prices['Date_X']), max(commodity_prices['Date_X'])

In [ ]:
commodity_prices['Commodity And Exchange New'] = np.nan
commodity_prices

In [ ]:
for index, r in commodity_prices.iterrows():
     if r['Commodity And Exchange'] in ('NYMEX CRUDE OIL FUTURES', 'WTI CRUDE OIL (DOLLARS PER BARREL)'):
         commodity_prices.at[index,'Commodity And Exchange New'] = 2
     else:
         commodity_prices.at[index,'Commodity And Exchange New'] = 1

commodity_prices

In [ ]:
idx = pd.date_range('2016-11-22', '2021-03-08')
idx

In [ ]:
# Make new Data frame for NYMEX Data
commodity_prices_NYMEX = commodity_prices[lambda x: x['Commodity And Exchange New'] == 2.0]
commodity_prices_NYMEX

In [74]:
min(commodity_prices_NYMEX['Date_X']), max(commodity_prices_NYMEX['Date_X'])

NameError: ignored

In [ ]:
idx = pd.date_range('2017-03-02', '2021-03-08')
idx

In [75]:
commodity_prices_NYMEX['Indicator'].unique()

NameError: ignored

In [ ]:
# Fill the NYMEX Dataset for each Date
commodity_prices_NYMEX_Final = pd.DataFrame(columns= ['VOLUME', 'PREVIOUS DAY OPEN INTEREST', 'SETTLE', 'LOW', 'CHANGE', 'HIGH', 'LAST', 'OPEN', 'PRICE IN USD'])
for index, r in commodity_prices_NYMEX.iterrows():
     commodity_prices_NYMEX_Final.at[r['Date_X'],r['Indicator']] = r['Value']
commodity_prices_NYMEX_Final

In [76]:
# Contineuation of previous work
commodity_prices_NYMEX_Final_filled = commodity_prices_NYMEX_Final.reindex(idx, fill_value= np.nan)
commodity_prices_NYMEX_Final_filled

NameError: ignored

In [ ]:
# Same thing as NYMEX for BRENT Data
commodity_prices_BRENT = commodity_prices[lambda x: x['Commodity And Exchange New'] == 1.0]
commodity_prices_BRENT

In [77]:
min(commodity_prices_BRENT['Date_X']), max(commodity_prices_BRENT['Date_X'])

NameError: ignored

In [ ]:
idx = pd.date_range('2016-11-22', '2021-03-05')
idx

In [78]:
commodity_prices_BRENT['Indicator'].unique()

NameError: ignored

In [79]:
commodity_prices_BRENT_Final = pd.DataFrame(columns= ['VOLUME', 'PREV# DAY OPEN INTEREST', 'SETTLE', 'LOW', 'CHANGE', 'HIGH', 'LAST', 'OPEN', 'PRICE IN USD'])
for index, r in commodity_prices_BRENT.iterrows():
     commodity_prices_BRENT_Final.at[r['Date_X'],r['Indicator']] = r['Value']
commodity_prices_BRENT_Final

NameError: ignored

In [80]:
commodity_prices_BRENT_Final_filled = commodity_prices_BRENT_Final.reindex(idx, fill_value= np.nan)
commodity_prices_BRENT_Final_filled

NameError: ignored

In [81]:
commodity_prices_BRENT_Final_filled['PREVIOUS DAY OPEN INTEREST'] = commodity_prices_BRENT_Final_filled['PREV# DAY OPEN INTEREST']
commodity_prices_BRENT_Final_filled.drop(columns=['PREV# DAY OPEN INTEREST'], inplace=True)
commodity_prices_BRENT_Final_filled

NameError: ignored

In [ ]:
# Take CSV file for both Data sets
commodity_prices_BRENT_Final_filled.to_csv(r'/content/commodity_prices_BRENT_Final_filled.csv', index_label = 'Date')

In [ ]:
commodity_prices_NYMEX_Final_filled.to_csv(r'/content/commodity_prices_NYMEX_Final_filled.csv', index_label = 'Date')


**Stock Data**

In [82]:
#Importing the dataset
stock_data = pd.read_csv('/content/drive/MyDrive/RMDS Competition/Data/global_stock_exchange_data.csv')
stock_data

       Value  ...          Location
0      36.67  ...  AMERICA-NEW_YORK
1      67.68  ...  AMERICA-NEW_YORK
2      46.23  ...  AMERICA-NEW_YORK
3      35.73  ...  AMERICA-NEW_YORK
4      67.39  ...  AMERICA-NEW_YORK
...      ...  ...               ...
9995  146.52  ...  AMERICA-NEW_YORK
9996  145.80  ...  AMERICA-NEW_YORK
9997  180.95  ...  AMERICA-NEW_YORK
9998  143.36  ...  AMERICA-NEW_YORK
9999  163.10  ...  AMERICA-NEW_YORK

[10000 rows x 13 columns]

In [83]:
#Converting the data to datetime format from string format
stock_data['Date'] = pd.to_datetime(stock_data['Date'])
stock_data

       Value  ...          Location
0      36.67  ...  AMERICA-NEW_YORK
1      67.68  ...  AMERICA-NEW_YORK
2      46.23  ...  AMERICA-NEW_YORK
3      35.73  ...  AMERICA-NEW_YORK
4      67.39  ...  AMERICA-NEW_YORK
...      ...  ...               ...
9995  146.52  ...  AMERICA-NEW_YORK
9996  145.80  ...  AMERICA-NEW_YORK
9997  180.95  ...  AMERICA-NEW_YORK
9998  143.36  ...  AMERICA-NEW_YORK
9999  163.10  ...  AMERICA-NEW_YORK

[10000 rows x 13 columns]

In [84]:
#Filtering out the stock data for the Exxon company
stock_data_exxon = stock_data[stock_data['Ticker'] == 'XOM']
stock_data_exxon

      Value  ...          Location
1000  43.44  ...  AMERICA-NEW_YORK
1001  74.26  ...  AMERICA-NEW_YORK
1002  46.90  ...  AMERICA-NEW_YORK
1003  43.64  ...  AMERICA-NEW_YORK
1004  76.18  ...  AMERICA-NEW_YORK
...     ...  ...               ...
1995  76.13  ...  AMERICA-NEW_YORK
1996  76.48  ...  AMERICA-NEW_YORK
1997  81.40  ...  AMERICA-NEW_YORK
1998  76.43  ...  AMERICA-NEW_YORK
1999  80.04  ...  AMERICA-NEW_YORK

[1000 rows x 13 columns]

In [85]:
#Printing the unique locations to convert them to columns in new dataframe
stock_data_exxon['Location'].unique()

array(['AMERICA-NEW_YORK'], dtype=object)

In [86]:
#Initialising the blank dataframe with minimum and maximum date range
final_stock_data_exxon = pd.DataFrame()
final_stock_data_exxon['Date'] = pd.date_range(start = min(stock_data_exxon['Date']), end = max(stock_data_exxon['Date']))
final_stock_data_exxon

           Date
0    2017-03-08
1    2017-03-09
2    2017-03-10
3    2017-03-11
4    2017-03-12
...         ...
1454 2021-03-01
1455 2021-03-02
1456 2021-03-03
1457 2021-03-04
1458 2021-03-05

[1459 rows x 1 columns]

In [87]:
#Entering stock data and the dummy variable
final_stock_data_exxon['Stock Price'] = [None]*len(final_stock_data_exxon)
final_stock_data_exxon['Stock Price Present'] = [None]*len(final_stock_data_exxon)

for i in range(len(final_stock_data_exxon)):
  if final_stock_data_exxon['Date'][i] in list(stock_data_exxon['Date']):
    final_stock_data_exxon['Stock Price'][i] = list(stock_data_exxon[stock_data_exxon['Date'] == final_stock_data_exxon['Date'][i]]['Value'])[0]
    final_stock_data_exxon['Stock Price Present'][i] = 1
  else:
    final_stock_data_exxon['Stock Price'][i] = final_stock_data_exxon['Stock Price'][i-1]
    final_stock_data_exxon['Stock Price Present'][i] = 0

final_stock_data_exxon

           Date Stock Price Stock Price Present
0    2017-03-08       81.03                   1
1    2017-03-09       81.67                   1
2    2017-03-10       81.61                   1
3    2017-03-11       81.61                   0
4    2017-03-12       81.61                   0
...         ...         ...                 ...
1454 2021-03-01        56.4                   1
1455 2021-03-02       56.07                   1
1456 2021-03-03       56.52                   1
1457 2021-03-04       58.71                   1
1458 2021-03-05       60.93                   1

[1459 rows x 3 columns]

In [88]:
#Converting to csv to download the new dataset
final_stock_data_exxon.to_csv('stock_data_exxon.csv')